[2018-12-12 07:52] eselmeister opened #1 "Reverse Axis"
For the display of NMR data, the axis needs to be shown in reverse order. Positive x values left, negative x values right.

[2019-01-04 08:48] laeubi commented on #1
i'm currently investigating an approach that allows for custom formating of axis. With that feature enabled, one can simply provide a Formatter that inverts the sign in front of the number, and add values simply in reverse order.

[2019-01-04 08:56] laeubi opened #3 "Invalid range check in org.eclipse.swtchart.internal.series.BarSeries.setBarWidth(int)"
org.eclipse.swtchart.internal.series.BarSeries.setBarWidth(int) checks for ipadding <= 0 but mut check for width

[2019-01-04 08:58] laeubi opened #4 "Create a formater profile to use for the project"
We should provide CodeFormater Templates for Eclipse that can be used to format the source-code of SWT Chart in a consitent way.

[2019-01-04 09:18] laeubi commented on #4
Or we can simply use the Eclipse Formatter profile, but it should be documented somewhere what formatter to use.

[2019-01-04 09:26] laeubi opened #7 "Extend Barplots to support OverlayMode"
Currently the Barplot can only be printed side-by-side. Sometimes it would be usefull to display bars over others (but not stacked!). This would also allow to provide a Mirrored Bar plot for comparison purpose.

[2019-01-07 06:08] eselmeister commented on #4
Yep, good idea. I'll take care of it.

[2019-01-07 06:13] #3 closed, assigned to nobody

[2019-01-07 06:13] #7 closed, assigned to nobody

[2019-01-07 16:59] yoshitaka1008 opened #9 "Provide JUnit tests for SWTChart"
JUnit tests for org.eclispe.swtchart are missing.

Note: I have written some tests, but not yet ready to share them since package name is not adapted, and also the tests depend on environment at the moment.

[2019-01-07 19:21] eselmeister commented on #9
I'll add the JUnit test package. You'll get a message as soon as it has
been created.

Am 07.01.19 um 17:59 schrieb yoshitaka:

--
[code]

[2019-01-07 20:04] eselmeister commented on #9
Done. Please check out:
org.eclipse.swtchart.test

[2019-01-07 20:04] #9 closed, assigned to nobody

[2019-01-08 07:58] laeubi opened #10 "IndexOutOfBounds if seriesdata length is == 0"
Caused by: java.lang.ArrayIndexOutOfBoundsException: 1
	at org.eclipse.swtchart.internal.series.BarSeries.getRiserWidth(BarSeries.java:382)
	at org.eclipse.swtchart.internal.series.BarSeries.getAdjustedRange(BarSeries.java:336)
	at org.eclipse.swtchart.internal.axis.Axis.adjustRange(Axis.java:345)
	at org.eclipse.swtchart.internal.axis.AxisSet.adjustRange(AxisSet.java:273)
	at org.eclipse.swtchart

[2019-01-08 15:50] #10 closed, assigned to nobody

[2019-01-08 16:06] eselmeister commented on #4
Done.

[2019-01-08 16:06] #4 closed, assigned to nobody

[2019-01-09 09:30] J-NiNo opened #12 "Scroll bar works wrong when large data are used in appropriate axes"
When numbers that can not be transformed to int type are used, scrolling of appropriate axes does not work

[2019-01-09 09:36] J-NiNo commented on #12
Relative binding between axes data and scroll bar parameters was added

[2019-01-09 09:36] #12 closed, assigned to nobody

[2019-01-11 08:40] eselmeister opened #14 "Upgrade to EPL v2"
As mentioned in the Eclipse proposal, we'd like to use the EPL v2:
https://projects.eclipse.org/proposals/eclipse-swtchart

EPL v2
https://www.eclipse.org/legal/epl-2.0
https://www.eclipse.org/legal/epl-2.0/faq.php

[2019-01-16 16:45] yoshitaka1008 commented on #1
I would like to double-check the requirement.
Does the picture below match with your expectation?

![reversed_axis](https://user-images.githubusercontent.com/11504728/51264212-47bfb880-19b6-11e9-9faf-cb8a7c49a0b4.png)

[2019-01-17 07:16] eselmeister commented on #1
It looks good and seems to match the expectations.

[2019-01-17 16:38] yoshitaka1008 commented on #1
What do you think about adding the following APIs to IAxis?
[code]

[2019-01-18 08:34] eselmeister commented on #1
Yep, that is a nice solution.Am 17.01.2019 17:38 schrieb yoshitaka <notifications@github.com>:What do you think about adding the following APIs to IAxis?
public interface IAxis {
	...

	/**
	 * Sets the axis reversed. When X axis is reversed, axis values increase from right to left.
	 * When Y axis is reversed, axis values increase from top to bottom.
	 *
	 * @param reverse
	 *            true to

[2019-01-21 16:55] yoshitaka1008 commented on #1
I have created a pull request to support reversed axis. Please check if the changes make sense.

[2019-01-22 06:27] eselmeister commented on #1
Look good. Thanks :-)

[2019-01-24 09:32] eselmeister opened #16 "Extended Charts - axes title visibility setting"
Add an option to show/hide the title via the IChartSettings instance.

[2019-01-24 10:10] eselmeister commented on #16
AxisSettings -> .setTitleVisible(...) method/field has been added.

[2019-01-24 10:17] #16 closed, assigned to nobody

[2019-01-24 16:31] yoshitaka1008 opened #17 "SWT resource leak"
When Y axis title is drawn, SWT resource Transform is instantiated, but the resource is missed to be disposed.

[2019-01-25 07:25] #17 closed, assigned to nobody

[2019-02-03 05:37] eselmeister opened #19 "Create official release"

[2019-02-05 13:40] eselmeister opened #20 "Axis.setRange (Unhandled event loop exception)"
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.IllegalArgumentException: Illegal range: lower=0.1234375, upper=0.0
	at org.swtchart.internal.axis.Axis.setRange(Axis.java:200)
	at org.swtchart.internal.axis.Axis.setRange(Axis.java:180)
	at org.eclipse.eavp.service.swtchart.core.AbstractExtendedChart.adjustMinMaxRange(AbstractExtendedChart.java:224)
	at org.eclipse.eavp.service.swtchart.

[2019-02-05 13:50] #20 closed, assigned to nobody

[2019-02-21 12:51] laeubi opened #21 "ScrollableChart leaks Menu instance"
When a new Menu is created, the old one is not disposed. This leads to hard references to the MenuItem Handlers, so the cannot be garbage collected.

[2019-02-21 14:01] eselmeister commented on #21
Good point, thanks.

[2019-02-21 14:01] #21 closed, assigned to nobody

[2019-03-02 06:07] laeubi opened #23 "Support Mirror-Mode"
It should be possible to mark a Series as "mirrored", this would simply paint all values as if they are multiplied by -1. The axis should then be painted twice but not with negative values!

[2019-03-02 06:48] laeubi opened #24 "Improve Series Handling / Interface design"
Currently it is a little bit cumbersome to work with actual series objects, because the Extended Charting is working mostly with ids

[2019-03-05 13:02] #24 closed, assigned to nobody

[2019-03-07 04:52] laeubi opened #32 "Don't show Hand-Cursor when tooltips are disabled"
Currently, if a chart has disabled tooltips, the hand-cursor is still shown, also on each mousemove all series are checked for matching coordinates..

This wastes CPU Time and confuses the user, since he van't really understand why there is a Hand-Cursor displayed sometimes

[2019-03-08 07:43] #32 closed, assigned to nobody

[2019-04-09 09:22] akurtakov opened #35 "Please fill data at https://projects.eclipse.org/projects/science.swtchart/"
At least some pointer to github would be nice.

[2019-04-09 09:23] akurtakov commented on #19
Is there any ETA for this one? I would like to switch Eclipse Linux Tools to use it, currently we use 0.10 from sourceforge.

[2019-04-09 16:09] eselmeister commented on #35
Thanks for the hint. I've added a link:
https://github.com/eclipse/swtchart/blob/develop/CONTRIBUTING.md

Am 09.04.19 um 11:22 schrieb Alexander Kurtakov:

--
[code]

[2019-04-09 16:13] eselmeister commented on #19
Yep, there shall be a release at the latest by May, 6th. We hope to get two students via the GSoC initiative this year. I'd like to switch to EPL v2 before doing the paperwork for a release. I'm out of office today and tomorrow. So, I'll start with the preparations on Thursday.

[2019-04-11 19:27] #14 closed, assigned to eselmeister

[2019-04-11 19:31] eselmeister commented on #35
https://projects.eclipse.org/projects/science.swtchart/developer

[2019-04-11 19:32] #35 closed, assigned to nobody

[2019-05-01 14:43] oyvfos commented on #19
Hi, is it possible to use the tools from a say Eclipse for Java developers? From what I read in the build.txt, it seems not. Would be thankful to any guiding of how to run the examples in a simple way, Thanks. Oyvind

[2019-05-01 14:59] eselmeister commented on #19
Hi Oyvind,

I'm not sure if I get the point correctly.

Instead of using Eclipse for RCP/RAP Developers you could also use
Eclipse for Java Developers.
Just clone the code, install RCPTT from the marketplace. That's it. Let
me know if you encounter any problems.

Best,
Philip

Am 01.05.19 um 16:43 schrieb Oyvind:

--
[code]

[2019-05-02 11:24] oyvfos commented on #19
Thanks. It works.

[2019-05-03 09:18] oyvfos commented on #19
Hi, The library seems very nice. Can the swt application 'live' next to another application (a financial library such as Strata) in the same Eclipse session? I would like to plot various things from the latter  and target the  swt applicaiton. This usage is common in e.g. R, Matlab and Mathematica. I find working in java actally generally easier than in these, therefore I would like the plotting f

[2019-05-03 09:36] eselmeister commented on #19
Sure, SWTChart allows "live" plotting. Have a look at the demo code.
There's an example to live plot data:
org.eclipse.swtchart.extensions.examples.parts.LineSeries_Random_Part

Use:

chart.addSeriesData(lineSeriesDataList);

or

chart.appendSeries(seriesData);

When using append, data will be added if a serie with the same id as the
seriesData already exists:
seriesData.getId()

The id is set whe

[2019-05-03 13:15] oyvfos commented on #19
Hi, can I do that from another app (thread?) ? Sorry but I have zero knowledge in this area, but I still hope to create an R-like workbench where I can keep one istance of the swt running, and push run on another class which then terminates, and redo this several tims. I.e. use the swt as generic plot window.
Oyvind

[2019-05-03 15:04] eselmeister commented on #19
Charts are running in the UI thread. Use display.asyncExec(...) to
update the chart.

Best,
Philip

Am 03.05.19 um 15:15 schrieb Oyvind:

--
[code]

[2019-05-04 17:13] oyvfos commented on #19
Hi, I decided to instead run the library from the main class in my library. The idea to have a separate plotting window is not  that important. I cant figure out how to access the library. I try this :
`

        Display display = new Display();
        Shell shell = new Shell(display);
        Composite top = new Composite(shell, SWT.NONE);
        top.setLayout(new FillLayout());
        GridDat

[2019-05-04 18:24] eselmeister commented on #19
Try it :-).

Am 04.05.19 um 19:13 schrieb Oyvind:

--
[code]

[2019-05-04 18:33] oyvfos commented on #19
Haha,  I tried it, but it didnt work.

[2019-05-05 13:00] oyvfos commented on #19
This
`

        Display display = new Display();
        Shell shell = new Shell(display);
        shell.setLayout(new GridLayout(1, false));BarSeries_1_1_Part a = new BarSeries_1_1_Part(shell);
        GridData gridData = new GridData();
	    gridData.widthHint = 800;
	    gridData.heightHint = 600;
		a.setLayoutData(gridData);
        //a.getVisible();

        shell.setBounds(100, 100, 800, 600

[2019-05-05 13:38] eselmeister commented on #19
:-)

Am 05.05.19 um 15:00 schrieb Oyvind:

--
[code]

[2019-05-29 05:02] eselmeister opened #36 "Create separate bundle for export menu options"
Eclipse SWTChart is part of this years GSoC 2019 initiative:
https://summerofcode.withgoogle.com/projects/#4820028082356224

A task is to enhance the export options.
Hence, all export related functionality shall be placed in a separate bundle to enhance the maintainability of SWTChart.

[2019-05-29 05:50] #36 closed, assigned to nobody

[2019-06-05 15:18] eselmeister commented on #19
Release has been declared successful:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=546560
https://bugs.eclipse.org/bugs/show_bug.cgi?id=536361

Files have been uploaded to:
https://download.eclipse.org/swtchart/release/0.7.0/

[2019-06-05 15:18] #19 closed, assigned to nobody

[2019-06-05 15:27] eselmeister opened #37 "Enable JIPP for SWTChart"
https://bugs.eclipse.org/bugs/show_bug.cgi?id=547955

[2019-06-05 15:28] eselmeister opened #38 "Sign Bundles"
After Jenkins has been enabled for SWTChart, bundle-signing should be activated.

[2019-06-06 08:46] eselmeister opened #40 "Update develop branch to version 0.8.0"

[2019-06-06 09:41] #40 closed, assigned to nobody

[2019-06-20 12:41] eselmeister opened #41 "Scrollbar Charts - Illegal range: lower=NaN, upper=NaN"
Sometimes, errors occur when the chart is empty or when the user zooms in and then maximal out and tries to move the scrollbar.

[code]

[2019-06-20 12:46] eselmeister commented on #41
Done.

[2019-06-20 12:46] #41 closed, assigned to nobody

[2019-06-25 10:07] eselmeister opened #42 "Scrollbars - fix selection and thumb calculation"
The existing scrollbar calculation could lead to wrong calculations as partly negative values are set:

sliderHorizontal.setThumb(...)
sliderHorizontal.setSelection(...)

The Linux JRE seems to be more lenient when doing things wrong than the Windows JRE.

[2019-06-25 10:09] #42 closed, assigned to nobody

[2019-07-08 07:10] laeubi opened #43 "Support alternative PlotAreas"
Currently the whole Charting Component is very monolithic and implementors are accessing it in a way that makes it impossible to extend or replace the rendering (e.g. for 3D/OpenGL Support).
There is already an interface IPlotArea but it is not used consistently.
The idea is, that the Chart itself does not know much about the Plotting but only contains an area that might be injected from the outsi

[2019-07-09 17:08] #43 closed, assigned to nobody

[2019-07-09 17:27] laeubi opened #46 "Series should depend on a datamodel instead of internal arrays"
Currently the data of a series is defined (mostly) by two double arrays (xdata/ydata) this has several drawbacks:

1. all data must be copied to new arrays, for safety reasons the series also copies the data again
2. Data integrity can't be archived since at least two calls must be made to reach a consistent state (in fact, currently it is assumed that first x-data is set, then y-data)
3. We can't

[2019-07-11 10:02] laeubi opened #48 "Support Tooltips for Menu Items / directly call menuitems"
Currently menuitems are called in an indirect manner, also tootips are currently not supported

[2019-07-11 12:47] #48 closed, assigned to nobody

[2019-07-15 04:06] #46 closed, assigned to nobody

[2019-07-15 04:07] eselmeister commented on #37
https://ci.eclipse.org/swtchart/

[2019-07-15 04:07] #37 closed, assigned to nobody

[2019-07-16 16:31] mavrk opened #50 "Restricted API causing problems in exporting vector graphics"
As part of GSoC 2019, I am working on extending the export options to support vector graphics (.svg) . To do this I am creating a java.awt.Graphics2D object which is an exact copy of the chart already displayed on the users screen.
I am able to plot the chart without using any restricted API. However, the main problem is with labels and grids.
With what I did initially, I could make an exact vecto

[2019-07-16 16:31] mavrk commented on #50
@eselmeister @yoshitaka1008 what do you think about this?

[2019-07-17 14:06] yoshitaka1008 commented on #50
could you please provide a bit more details regarding how extension chart uses BaseChartToGraphics2D, if moving the class to internal package of base chart?

[2019-07-17 16:31] mavrk commented on #50
How about we keep only one method public which is getGraphics2D() and rest as private?

[2019-07-17 16:33] mavrk commented on #50
Do you have any other suggestions? I really need your help with this as this is a major blocker and I can't proceed with other tasks.

[2019-07-17 16:39] mavrk commented on #50
Or how about we make this functionality a part of org.eclipse.swtchart.Chart class? That way we could use it using baseChart.getGraphics2D() something like this?

Like we have a method renderOffscreenImage() in Chart class, we could have a createGraphics2D() method.

[2019-07-17 18:54] eselmeister commented on #50
Hi Sanatt,

all methods you need need are public:

org.eclipse.swtchart.internal.axis.Axis

public static final int TICK_LENGTH = 5;
public ITitle getTitle()
public boolean isHorizontalAxis()
public int getPixelCoordinate(double dataCoordinate)
public AxisTick getTick()

org.eclipse.swtchart.internal.axis.AxisTick

public AxisTickMarks getAxisTickMarks()
public Rectangle getBounds()
public int get

[2019-07-17 19:44] yoshitaka1008 commented on #50
What about accessing internal package as an exceptional case, and editing swtchart/org.eclipse.swtchart/META-INF/MANIFEST.MF as below?

` org.eclipse.swtchart.internal.axis;x-friends:="org.eclipse.swtchart.export, org.eclipse.swtchart.test, ",`

Since export and core are owned by ourselves and built together, I think this is acceptable for your specific case.

[2019-07-18 05:34] mavrk commented on #50
I like both of the ideas. I am going to refactor the class now. Thanks a lot!

[2019-07-18 07:08] eselmeister commented on #50
I'm fine with both solutions.

A) Inside Core Package
B) Using x-friends declaration

But I prefer option A, because it requires less modifications in the
OSGi declaration. The simpler the better.
Overhead would be small.

@Yoshitaka:
Is there a show-stopper, why we shouldn't put it in a package
"org.eclipse.swtchart.export" in the core bundle?

Best,
Philip

Am 17.07.19 um 21:44 schrieb yoshitaka

[2019-07-18 15:42] mavrk commented on #50
@eselmeister I am going with your suggestion. Please let me know if I am in the right direction. I have created these 2 new classes:
https://github.com/mavrk/swtchart/blob/develop/org.eclipse.swtchart/src/org/eclipse/swtchart/converter/ChartToGraphics2D.java

https://github.com/mavrk/swtchart/blob/develop/org.eclipse.swtchart/src/org/eclipse/swtchart/converter/SwtToAwtUtils.java

This is the commi

[2019-07-18 21:09] yoshitaka1008 commented on #50
Please let me share why I'm against the option (A).

- internal classes are placed in internal package, but the option (A) violate this rule.
- option (A) introduces a new API that is not used by any other users.
- the moved class  is dedicated for export plugin, and not for core plugin.

Adding x-friend in OSGi declaration is transparent for users, so what is actually your concern to adding it?

[2019-07-19 05:59] eselmeister commented on #50
Hi Yoshitaka,

  * If the "ChartToGraphics2D.java" class is inside the bundle
    "org.eclipse.swtchart" it doesn't violate the rule. Chart and Range
    also do not violate the rule
  * that is correct
  * that is also correct

@Sanatt

You'll get an additional review to refactor your class. If that is done,
please create a PR for

https://github.com/eclipse/swtchart

and add

  * ChartToGraphics

[2019-07-19 06:16] eselmeister commented on #50
Both classes look fine, but please add the copyright header:

/*******************************************************************************
  * Copyright (c) 2019 Sanatt Abrol.
  *
  * This program and the accompanying materials are made
  * available under the terms of the Eclipse Public License 2.0
  * which is available at https://www.eclipse.org/legal/epl-2.0/
  *
  * SPDX-License-Identifie

[2019-07-19 15:19] yoshitaka1008 commented on #50
"org.eclipse.swtchart" it doesn't violate the rule. Chart and Range
    also do not violate the rule

The idea above violates another rule that internal classes shouldn't be exposed to users. Chart and Range are supposed to be used by users, but ChartToGraphics2D is internal class used only by export plugin.

[2019-07-20 15:22] mavrk commented on #50
I have made new changes and also added the license header.
@eselmeister We would need SVG for SVG, EPS and PDF export so I created a new class SVGFactory. We can use this class to create a SVG stream and then transcode it to get EPS or PDF using Apache FOP
Here are the changes https://github.com/eclipse/swtchart/compare/develop...mavrk:develop

[2019-07-21 14:27] yoshitaka1008 commented on #50
In original code, only org.swtchart package is exposed.
https://sourceforge.net/p/swt-chart/code/HEAD/tree/trunk/org.swtchart/META-INF/MANIFEST.MF

I just noticed that MANIFEST.MF was changed to expose internal packages when Philip migrated the code to eclipse.org. The change has to be corrected. To fix that, anyway it is most likely that extension plugin will be added to x-friends like option (B)

[2019-07-21 18:07] buchen opened #53 "Replacement for Series#setXDateSeries?"
For my [project](https://github.com/buchen/portfolio), I used to rely on ```ISeries#setXDateSeries(Date[] series)```. This method seems to be gone. What do you propose to do? Most of my compile errors are due to the get/setXDateSeries change and I am wondering how to best refactor my code.

I know I could convert myself to double via ```Date#toTime```. Is that the proposed solution?

Do you plan t

[2019-07-21 18:32] eselmeister commented on #50
Hi Sanatt, hi Yoshitaka,I'm on vacation this week. I'm back on Monday, 29th.@YoshitakaCould you please review the changes and merge them if the quality os fine.Please monitor the CI and ensure, that the changes do not break the build.https://ci.eclipse.org/swtchartBestPhilipAm 21.07.2019 16:27 schrieb yoshitaka <notifications@github.com>:In original code, only org.swtchart package is exposed.
http

[2019-07-26 10:13] laeubi opened #55 "Only suspend/unsupend if not already done by caller in Scrollable chart"

[2019-07-26 10:27] laeubi commented on #53
Hi @buchen you are right, best would be (for now) to provide the longs itself. the problem with the Date[] was that it was a support for a very special usecase (displaying dates on axis) but cluttered the code with several cases to take care of (e.g. converting back and forth the long values to dates, check in axis formating if it is a date axis and so on).
As there are other use cases (think abou

[2019-07-26 10:35] laeubi commented on #53
If you like, test out the branch I just created ad let me know whats missing.

[2019-07-29 06:14] #55 closed, assigned to nobody

[2019-07-29 20:16] buchen commented on #53
If have tested the branch. Thanks.

This is what I had to change to make it kind of work:
* Re-added a ```getXDateSeries``` method in ```ISeries```
* Cast ```Chart#getPlotArea```  to ```Composite``` wherever used:
  * added PaintListener -> is not a functional interface anymore (maybe one can add a default implementation of the method ```#drawBehindSeries``` to allow lambdas in at least on case)

[2019-07-29 20:24] buchen opened #58 "Use target platform for Tycho build"
Tycho can also use a target platform definition to resolve dependencies. From my point of view, the advantage is that the very same target definition is used during the build as well as when developing inside the Eclipse IDE.

If you are interested, I can prepare a change that a) updates Tycho to the latest version and b) introduces the target platform file that is used during the build and inside

[2019-07-29 20:38] buchen commented on #53
The reason seems to be that this code behaves different now: The result is not the time anymore.
[code]

[2019-07-29 20:41] buchen commented on #53
BTW, axis labeling is not a problem for me. I am not labelling the x axis (only the y axis).

[2019-07-30 05:12] laeubi commented on #53
Thanks for the feedback I applied the following changes:

- ICustomPaintListener is now a functional interface
- getXDateSeries is added back
- Add getControl() method to IPlotarea for extended usecases
- Fix DateArraySeriesModel so the x value is the date/time

[2019-07-30 05:40] laeubi commented on #53
Yes, this has several advantages, for example I assume that your ObjectModel is not based on Date[] and double[] but some kind of Business Case, you can now implement a mapping for the char very intuitive.

Assume we have this simple OM:
[code]
And you want to plot `Price` over `TimeOfBuying` you can implement it the following way:
[code]
This is much easier to understand and debug (e.g. if you do

[2019-07-30 06:38] laeubi commented on #53
Changes where merged to develop branch, please check if anything is missing and then close the issue.

[2019-07-30 06:57] laeubi commented on #50
x-friends is a purse Eclipse extension and not OSGi standard that should be avoided under all circumstances. I don't see any reason why to use this here anyways. Exporting "internal" package is not bad-per se, importers should just be aware of the consequences.

About the ChartToGraphics2D: I would not recommend the approach since it replicates lots of code, instead we need some way to abstract th

[2019-07-31 10:45] yoshitaka1008 commented on #50
I don't think so.

x-friends is a standard eclipse feature that is available with Package Visibility on Plug-in Manifest Editor.

https://help.eclipse.org/2019-06/index.jsp?topic=%2Forg.eclipse.pde.doc.user%2Fguide%2Ftools%2Feditors%2Fmanifest_editor%2Fruntime.htm&resultof=%22%70%61%63%6b%61%67%65%22%20%22%70%61%63%6b%61%67%22%20%22%76%69%73%69%62%69%6c%69%74%79%22%20%22%76%69%73%69%62%6c%22%20

P

[2019-07-31 10:50] laeubi commented on #50
Yes but I thought this is a swt-chart project and not eclipse-chart ... even though it is used by many eclipse plugins does not mean its OSGi-Standard.

[2019-07-31 11:02] laeubi commented on #58
I think this is a good idea.

[2019-07-31 11:03] laeubi commented on #58
I think contributions are always welcome, just make sure you have signed ECA and sign off your commit otherwise it will reject to merge.

[2019-07-31 11:46] laeubi commented on #58
Since we are currently facing issues regarding to update, I'll provide a patch that enables this soon.

[2019-07-31 12:21] #58 closed, assigned to nobody

[2019-07-31 19:24] buchen commented on #53
Thanks @laeubi.

My code using get/setXDateSeries in now working. I noticed a small problem when comparing the lengths of the both data series - see PR #63

I see that I find time to rework my usage of SWTChart to use IDataModel. Indeed I am actually working with LocalDate internally and always have to convert it to java.util.Date for SWTChart.

[2019-07-31 19:24] #53 closed, assigned to nobody

[2019-08-01 06:51] laeubi commented on #53
Yes thats why I have deprecated this in favor of Datamodel, you have the same problem with Calendar or JodaTime or ...

By the way, there is even no need to return the time() value as X, if you data is for example organized as list, you can simply retun the index of the Localdate as X-Value, you then just have to adjust your  `long time = (long) xAxis.getDataCoordinate(event.x);` to int index= (in

[2019-08-01 10:11] yoshitaka1008 commented on #50
which OSGi platform has a problem by containing x-friend?

[2019-08-02 06:39] harmanea opened #64 "swtchart as a Gradle dependency"
Hello,
I'm building a standalone SWT application with Gradle and I can't figure out how to add this wonderful library as a dependency. From what I can tell, swtchart isn't published to any Maven repo. Usually with GitHub this is also possible using JitPack or the Gradle gitRepository function but neither works here. Are there any plans to enable this?

[2019-08-02 10:45] yoshitaka1008 commented on #50
If you believe using x-firends is a problem, please share a concrete example of problem. (e.g. which OSGi platform, what the error message is, ...)

In any case,
- as listed above, SWT plugin (org.eclipse.swt) uses x-fiends in MANFEST.MF.
- SWTChart requires SWT.
- if there is any OSGi platform that has a problem with x-friends, and if a certain user wants to use SWTChart there (although it looks

[2019-08-02 11:38] laeubi commented on #50
Exposing a package (there is no thing like "internal packages" this is also only an eclipse term, the OSGi-Spec only differentiate between exported and private packages) is not a problem at all, that standard OSGi that every framework (Equinix, Knoplerfisch, Felix, ...) understands. It might be not recommended to export internal implementation details, but that is more a matter of system-design, a

[2019-08-02 11:59] laeubi commented on #50
By the way, try creating a plugin project which targets OSGi-Standard Framework:
![grafik](https://user-images.githubusercontent.com/1331477/62368655-83bf0300-b52d-11e9-89c4-847c72de4d32.png)
You will even see that this option vanishes in the manifest editor:
![grafik](https://user-images.githubusercontent.com/1331477/62368710-af41ed80-b52d-11e9-927f-0955195a8cfc.png)

[2019-08-02 16:06] yoshitaka1008 commented on #50
I’m not talking about whether x-friends is Eclipse specific (no doubt for that). I’m asking what the concrete problem for SWTChart API users if using x-friends is. I doubt there is any problem, since other OSGi platforms would simply ignore x-friends, and export the package as desired.

Also, I’m not judging whether x-friends is good practice only by looking at SWT plugin. The point is that avoidi

[2019-08-06 12:21] kerner1000 commented on #64
Hi @harmanea , currently, Maven/ Gradle Support is not available. Please feel free to submit a PR.

[2019-08-06 13:26] buchen commented on #64
I believe the ask from @harmanea is to publish SWTChart to Maven Central. That requires signing the build with a GPG key, uploading it to a Sonatype repository, and releasing it. In particular, one must own the namespace (org.eclipse.swtchart). IMHO, this is something the project owners must do, that is not a PR on the code base.

BTW, I have published the "legacy" SWTChart 0.10.0 version to my ow

[2019-08-09 09:41] laeubi opened #65 "Provide an Updatesite"
The Updatesite is already generated as part of the buil, but currently not uploaded to an official location.
If Eclipse itself does not offer support, we might can use github-pages for this.

[2019-08-14 18:59] eselmeister commented on #50
I close this issue as "ChartToGraphics2D" and "SwtToAwtUtils" are part of the org.eclipse.swtchart.export.awt package now.

[2019-08-14 18:59] #50 closed, assigned to nobody

[2019-08-14 19:03] eselmeister commented on #65
I'll take care of it at the next Eclipse Hackathon:
https://wiki.eclipse.org/Hackathon_Hamburg_2019_Sept

[2019-08-14 19:04] eselmeister opened #66 "Enable Eclipse Jar Signing"
I will have a look at this issue at the next Eclipse Hackathon:
https://wiki.eclipse.org/Hackathon_Hamburg_2019_Sept

[2019-08-14 19:05] eselmeister commented on #64
I'm not familiar with Gradle.
@harmanea: Feel free to add a Gradle script to the bundle org.eclipse.swtchart.cbi.

Regarding the signing of the jars, have a look at this ticket:
https://github.com/eclipse/swtchart/issues/66

[2019-08-22 14:08] harmanea commented on #64
Sorry for a late reply.

What I'm looking for is a repository from which Gradle can download the packaged library and add it to my project's build path. Maven central or any other repository would be the ideal solution but I don't think I can do that on my own. See the [Maven guide](https://maven.apache.org/repository/guide-central-repository-upload.html).

The legacy library that @buchen offered

[2019-08-26 11:11] jimmyd-be opened #72 "Add support for Java 8 new dates"
Please add support for Java 8 dates (LocalDate, LocalDateTime, ...) to make an application java 8+ compatible without using old (almost depricated) dates.

[2019-08-26 12:33] jimmyd-be opened #73 "IAxisTick does not draw dates in Brazil timezone"
[code]

We have an application with SWT chart. Now we are deploying the application to Brazil. But we found out that users in Brazil does not see the chart details.

The chart in all timezones (except Brazil) looks like:
![image](https://user-images.githubusercontent.com/34766203/63690913-1fcaea00-c80e-11e9-916d-0ce90f9f428a.png)

In Brazil timezone it looks like:
![image](https://user-images.gith

[2019-09-03 14:29] eselmeister commented on #73
Could you provide a demo data set and the code of the chart, so that we are able to reproduce the issue?

[2019-09-04 07:46] eselmeister commented on #65
The update site of the latest release 0.7.0 is available here:
https://download.eclipse.org/swtchart/0.7.0/update

[2019-09-04 07:46] #65 closed, assigned to nobody

[2019-09-04 07:51] eselmeister commented on #38
How to sign bundles is described here:
https://wiki.eclipse.org/Jenkins

[2019-09-04 07:52] eselmeister commented on #66
Duplicate of
https://github.com/eclipse/swtchart/issues/38

[2019-09-04 07:52] #66 closed, assigned to nobody

[2019-09-13 14:24] laeubi opened #74 "Create a branch based updatesite"

[2019-09-19 09:54] laeubi opened #76 "MemoryLeak / CompressScatterSeries blows up"
It seems there is a memory leak in the event processing somewhere in SWTChart, maybe a listener seems to hold reference to the compressor, so it creates over and over again data items that then fill up the whole heap.

Currently I see over 400 instance of the CompressScatterSeries taking up 1.5GB ob space for only the boolean arrays

java.lang.OutOfMemoryError: Java heap space
	at org.eclipse.swtc

[2019-09-19 10:08] laeubi commented on #76
It seems the compressor try to find out if at the specified pixel coordinate there is already a datapoint. for low density plots this is much more expensive than simply drawing all points.

[2019-09-21 07:26] #74 closed, assigned to nobody

[2019-10-25 17:23] laeubi opened #77 "IPlotArea should contain getter for the chart"
IPlotArea should contain a IPlotArea#getChart() method so it is possible to access the corresponding chart, this is especially useful for PaintLinsteners so the can be written without explicitly reference the chart.

[2019-10-26 06:02] #77 closed, assigned to nobody

[2019-11-26 12:08] laeubi opened #79 "LabelMarker should not try to paint empty or null labels"
LabelMarker currently calculates positions and draws empty labels. As this has no visual effect the operation can be skipped.

[2019-11-26 12:13] laeubi commented on #79
This is especially an issue for Mac-Users see https://bugs.eclipse.org/bugs/show_bug.cgi?id=458872

[2019-11-27 04:47] #79 closed, assigned to nobody

[2019-11-28 06:06] eselmeister opened #81 "Refactor keyboard and mouse events"
Often keyboard and mouse events are used. Hence, support for A, a and the mouse events have been added to make the code easier to read. Currently, they are listed in BaseChart.

	int KEY_CODE_A = 65;
	int KEY_CODE_a = 97;

To make it easier to read and show that it is a static field, the following adjustments shall be applied (UC - upper case, LC - lower case):

	int KEY_CODE_UC_A = 65;
	int KEY_C

[2019-11-28 06:10] #81 closed, assigned to nobody

[2019-11-29 09:48] eselmeister opened #82 "StepChart as a new chart type"
Currently, the following chart types are available:

- BarChart
- ScatterChart
- LineChart

Support for a new chart type "ScatterChart" shall be added. It is principally available already. When adding series, the following setting needs to be activated:

- lineSeriesSettings.setEnableStep(true);

This could be done by the "ScatterChart" automatically when adding new data "addSeriesData(...)".

[2019-12-06 20:58] akurtakov opened #83 "Release version should be newer than 0.10"
I see that Eclipse swtchart version released is 0.7 but latest sourceforge version is 0.10 . It would make sense to use bigger version than the sourceforge version to make it clear that it's newer.

[2019-12-07 08:21] eselmeister commented on #83
Hi Alex,yes, we know that this might be confusing. We followed the Eclipse guideline to start with a version < 1, commonly used 0.7.Probably, we should use version 0.11 or 0.12 for the next official release.Am 06.12.2019 21:58 schrieb Alexander Kurtakov <notifications@github.com>:I see that Eclipse swtchart version released is 0.7 but latest sourceforge version is 0.10 . It would make sense to use

[2019-12-09 07:03] laeubi opened #84 "SWTChart should use MenuManager"
Currently SWTChart uses a custom made framework to add/remove/mange Context menus.
JFace already offers a MenuManger that is more flexible using actions instead of plain listeners and manages adding/removal more gracefully, it also allows deeper nesting, enable/disable on demand and dynamic menu contributions.
Currently the SWTChart implementation suffers from most of these features so it would be

[2019-12-09 07:05] laeubi commented on #84
For example under Linux it is extremely annoying: Right clicking on a (non focused) Chart open the poup-menu but immediately closes the menu (now the chart has gained focus) and the user must click once again.

[2019-12-12 05:13] eselmeister commented on #84
That's a good idea. Could you provide a small code example, so that we are able to evaluate using the JFace menu manager.

[2019-12-12 05:17] eselmeister opened #85 "Buffering chart data via a Bitmap"
Currently, charts are redrawn several times when actions are applied on the chart. in most cases, the data doesn't need to be redrawn as it not has changed. This causes some performance issues, especially when handling large data sets with many distinct points or when trying to select a region. A smart solution to solve this problem could be to create a bitmap initially, which is displayed in 1:1

[2019-12-12 17:39] fbuloup opened #86 "Chart is flipped vertically when saved as image on Mac OS"
On Mac OS (this is what I have experienced), when you choose to save chart as image, this image is flipped vertically. It must be flipped again to retrieve a nice chart image. I have changed the **save** method in **chart.java** to solve the problem (hint from http://www.java2s.com/Tutorial/Java/0300__SWT-2D-Graphics/WriteanImagetoaPNGfile.htm). Here is the changed source code :

[code]

Do you th

[2019-12-13 13:31] eselmeister commented on #86
Thanks for the feedback. We will inspect this issue.

[2019-12-15 09:40] buchen commented on #86
@eselmeister Does the Transform work for you on macOS? I tried to re-apply this to my code base but for me the Transform has no effect (the code by @fbuloup works)

And: Does it make sense to change the ```Chart#save``` method?

[2019-12-15 10:09] eselmeister commented on #86
I don't have a macOS at hand. The transform code works fine to flip images under Linux. So, I assumed that it also works in reverse to flip the image under macOS to normal status.How does it look now under macOS?Could you try to play/debug the transform operation on your mac?Am 15.12.2019 10:40 schrieb Andreas Buchen <notifications@github.com>:@eselmeister Does the Transform work for you on macOS?

[2019-12-16 06:11] buchen commented on #86
I can check on the swtchart code base later this week.

[2019-12-16 06:46] eselmeister commented on #86
That would be great. I prefer to use the Transform method as it's easier to use and transform should do the trick. As you said, the code of @fbuloup works, but we should try to rely on system functions whenever possible. Moreover, I would have to check that the code of @fbuloup has not been copied and pasted from somewhere else.

[2019-12-16 15:21] fbuloup commented on #86
As I mentioned in my original post, I took the above code example from  this link :

http://www.java2s.com/Tutorial/Java/0300__SWT-2D-Graphics/WriteanImagetoaPNGfile.htm

But I think there is a much more simple solution which probably works on all platforms.
**Just create the graphical context on current chart instance and copy the entire area into the new created image**. Then you can get the ima

[2019-12-21 12:26] laeubi opened #87 "Only latest version is build"
https://ci.eclipse.org/swtchart/job/build/ contains only latest version but we would need builds for banches as well, it seems the multibranch pipeline is not setup for automatic scans in the job, for example her it is configured to scan at least once an hour

![grafik](https://user-images.githubusercontent.com/1331477/71307937-10436280-23f6-11ea-95e0-0b47c4e7b431.png)

[2019-12-21 12:28] laeubi opened #88 "Current Build fails"
https://ci.eclipse.org/swtchart/job/build/job/develop/ fails seems to be an outdated update site  https://download.eclipse.org/tools/orbit/downloads/drops/S20190819183153/repository

[2019-12-27 20:13] buchen commented on #86
@eselmeister - I had the chance to test the code now. I ran the "org.eclipse.swtchart.examples" projects with "Run as Eclipse application" and then selected one of the top right charts, right-click and saved as PNG or JPEG. The image is unfortunately still rotated. It is not clear to me what goes wrong. The *Transform* is setup, but it seems to me that the SWT code overrides it with some other Tra

[2019-12-27 20:28] buchen commented on #86
@fbuloup upon further inspection: it works for JPEG, but I see some artifacts when saving the chart as PNG file. I see straight diagonal lines across the whole image - compare the JPEG and PNG versions. 🤔 Any ideas?

**JPEG**
![Performance-Diagramm_(Dashboard)](https://user-images.githubusercontent.com/587976/71531550-785ee080-28ef-11ea-8175-d2c716c29850.jpeg)

**PNG**
![Performance-Diagramm_(Dash

[2019-12-29 13:22] fbuloup commented on #86
Sorry but I've not been able to reproduce this strange diagonal line for PNG files ! It's probably  a problem related to SWT version.

I've investigated in SWT OS X java code and seen that there is a strange applied transformation in the **print** method of the **control** class :

[code]

When you comment lines that I've marked with stars, the image is no longer flipped vertically ! Do you have a

[2019-12-30 06:42] laeubi opened #90 "include source bundles in updatesite"
Currently source bundles are not included, but this helps developers in debugging/developing things with swt-chart.

[2019-12-30 06:51] laeubi commented on #86
@fbuloup do you think you can supply your changes on a fork of this repository and open a PR? This would make things a lot easier (commenting, seeing diffs, possibly merging), let me know if you need any guidance.

BTW if there is a bug in SWT/Cocoa it would be best to report it here https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Platform

[2019-12-30 06:56] laeubi opened #91 "Provide example product instead of run-config"
Currently examples are provided as a launch-config. Launch configs are sensible to projects in workspace, available target platforms and even eclipse installs. Thus it is not reliable to use this across different setups.

SWT-Chart should instead provide a product file that is packed as part of the normal build process to ensure everything is working fine.

[2019-12-30 06:57] laeubi commented on #86
@buchen I created #91 for that, the problem is that the examples are not part of the build and the target platform only contains necessary bundles for building the bundles, so eclipse might get confused.

[2019-12-30 07:11] #88 closed, assigned to nobody

[2019-12-30 08:29] fbuloup commented on #86
@laeubi : i’ve created a bugzilla n°558678 yesterday. Will fork, commit little changes and open a PR

[2019-12-30 12:49] laeubi commented on #87
new branches are now available.

[2019-12-30 12:49] #87 closed, assigned to nobody

[2019-12-30 17:41] fbuloup commented on #86
It seems that a check has failed for the PR :
eclipsefdn/eca — The author(s) of the pull request is not covered by necessary...

[2020-01-01 11:17] #86 closed, assigned to nobody

[2020-01-04 21:46] meinctutw commented on #64
+1 I also use gradle and want to pull swtchart with it.

[2020-01-05 13:04] eselmeister commented on #64
I'm not familiar using Gradle. Anyway, please provide a PR and a description how to use it. After testing, I will merge it.Am 04.01.2020 22:46 schrieb meinctutw <notifications@github.com>:+1 I also use gradle and want to pull swtchart with it.

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-07 09:31] fbuloup opened #97 "SWT Chart Should Use Internationalization"
SWT Chart plugins should use Internationalization.

I will provide a PR to propose changes in order to implement these changes

[2020-01-08 08:25] eselmeister commented on #97
I have added a comment.
Otherwise it looks good.

@laeubi Do you have any comments?

[2020-01-08 08:50] laeubi commented on #97
I wonder if there are more labels that needs translation.

[2020-01-08 09:06] fbuloup commented on #97
Yes there are : other menu items and some message on dialog box.
I will try to do a commit before tomorow

[2020-01-11 06:47] #97 closed, assigned to nobody

[2020-01-11 15:22] laeubi opened #99 "Make SWT-Chart Translateable via Babel"
Now we have the necessary externalized string we should participate in the Eclipse-Babel project to allow easy translation by the community:
https://wiki.eclipse.org/Babel/FAQ#Committers_FAQ

[2020-01-13 05:31] eselmeister commented on #99
Yep, sounds like a good idea.

Am 11.01.20 um 16:22 schrieb Christoph Läubrich:

--
[code]

[2020-01-13 13:12] fbuloup commented on #99
~I've tried to do so but Eclipse-Science/SWTChart project is not visible from babel COMMITER LINK : https://babel.eclipse.org/babel/project_source_locations.php (Must be logged in your Bugzilla/Eclipse account in order to properly see this link)~

~Any idea ?~

Just created Bugzilla issue [559143](https://bugs.eclipse.org/bugs/show_bug.cgi?id=559143)

[2020-01-22 12:12] eselmeister commented on #99
Hi Frank,

I just tried it, but also have no idea how to add SWTChart to Babel.
Hence, I've assigned the ticket to the Babel group:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=559143

Best,
Philip

Am 13.01.20 um 14:12 schrieb frank buloup:

--
[code]

[2020-01-22 19:59] fbuloup commented on #99
Oki, great. Let's see what happens.

[2020-01-24 05:14] eselmeister commented on #83
OK, we try to use version 0.12 for the next release.

[2020-01-24 06:49] laeubi opened #100 "Printing should write directly to the printer instead of creating an intermediate image"
Currently "export chart selection" > "Print" creates an image and the sends it (maybe scaled) to the printer.
It would be better to directly paint to the printer as this is producing real vector commands that better scale.

[2020-01-24 07:41] akurtakov commented on #83
Nice.
P.S. I've seen https://download.eclipse.org/swtchart/0.8.1/ but no announcement nor release record. Is this some kind of snapshot?
P.S.1 I strongly advice projects to make latest p2 url e.g. https://download.eclipse.org/swtchart/latest which other projects can refer to if they want and pick latest swtchart version always.

[2020-01-24 20:44] #100 closed, assigned to nobody

[2020-01-26 10:37] laeubi opened #103 "Printing a zoomed chart overflows"
When a chart is zoomed and the new printing method is used the chart overflows the bounds of the chart

[2020-01-26 14:01] #103 closed, assigned to nobody

[2020-01-26 20:31] fbuloup commented on #99
Swt chart seems now to be in Babel project :-)

[2020-01-26 21:20] eselmeister commented on #99
I'll take care to request a release in approx. 2 month.Best,PhilipAm 26.01.2020 21:31 schrieb frank buloup <notifications@github.com>:Swt chart seems now to be in Babel project :-)

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-31 10:39] akurtakov opened #107 "Releases not signed"
Due to migration to eclipse.org swtchart there are issues with our M1 contribution. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=559740 .
Roland also opened bugzilla against your project - if you don't use bugzilla you should ask webmaster to remove it. https://bugs.eclipse.org/bugs/show_bug.cgi?id=559664

[2020-02-01 16:37] laeubi opened #108 "NPE under some deployment configurations"
Sometimes  a NPE occurs when loading the activator class:

Caused by: org.osgi.framework.BundleException: Error loading bundle activator.
	at org.eclipse.osgi.internal.framework.BundleContextImpl.start(BundleContextImpl.java:760)
	at org.eclipse.osgi.internal.framework.EquinoxBundle.startWorker0(EquinoxBundle.java:1005)
	at org.eclipse.osgi.internal.framework.EquinoxBundle$EquinoxModule.startWorke

[2020-02-02 06:40] #108 closed, assigned to nobody

[2020-02-06 02:09] eselmeister commented on #83
@laeubi Do you know where 0.8.1 comes from? We only have one official release at the moment: 0.7.0. Each release has do be reviewed by the Eclipse IP team.

https://projects.eclipse.org/projects/science.swtchart/downloads

[2020-02-06 02:11] eselmeister commented on #83
Eclipse SWTChart is also linked to Eclipse Babel now:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=559143

As @akurtakov has requested a version > 0.10, the next release version will be 0.12.

[2020-02-06 04:44] laeubi commented on #83
All these are not releases but Branch-Builds, each branch gets build and deployed there so we can consume and test them in downstream builds. 0.8.1 is the current "stable" build for chemclipse without API changes so we probably never release 0.8.1 at any time.

[2020-02-07 20:03] #107 closed, assigned to nobody

[2020-02-07 20:13] eselmeister opened #111 "Join Eclipse SimRel"
See also:
https://github.com/eclipse/swtchart/pull/110

[2020-02-11 08:30] eselmeister opened #112 "Label marker - vertical option is broken"
When using the label marker, the option to print labels vertically is broken.

[2020-02-11 08:30] eselmeister commented on #112
![Bildschirmfoto von 2020-02-11 09-20-10](https://user-images.githubusercontent.com/686671/74220905-1b599700-4cb1-11ea-9b6a-56758508d5f2.png)

[2020-02-11 08:32] #112 closed, assigned to nobody

[2020-02-11 08:33] eselmeister commented on #112
![Bildschirmfoto von 2020-02-11 09-31-19](https://user-images.githubusercontent.com/686671/74221065-83a87880-4cb1-11ea-95ec-50d3478fd50f.png)

[2020-02-11 20:31] akurtakov opened #114 "Contribute PieChart from Linux Tools project"
In Linux Tools project we have extension to swtchart to provide PieChart. Is swtchart project interested in such contribution? If yes I would appreciate some guidance and help to do that.
Code is at https://git.eclipse.org/c/linuxtools/org.eclipse.linuxtools.git/tree/profiling/org.eclipse.linuxtools.dataviewers.piechart/src/org/eclipse/linuxtools/dataviewers/piechart

[2020-02-12 06:47] eselmeister commented on #114
That would be great. We already have packages in the bundle
"org.eclipse.swtchart.extensions" for bar, line and scatter charts:

org.eclipse.swtchart.extensions.barcharts
org.eclipse.swtchart.extensions.linecharts
org.eclipse.swtchart.extensions.scattercharts

So, please create a new bundle called:

org.eclipse.swtchart.extensions.piecharts

and place the code in the bundle. Additionally, an examp

[2020-02-12 07:41] akurtakov commented on #38
Finally fixed now with #113

[2020-02-12 07:57] #38 closed, assigned to nobody

[2020-02-13 06:41] #90 closed, assigned to nobody

[2020-02-13 09:49] akurtakov opened #116 "Provide a way to set initial name for save file in InteractiveChart"
Right now it always show "Undefined" which is a bit ugly considering that charts are usually proper titled and etc. I propose adding e.g. setInitialSaveFilename(String filename) method so contributors can predefine it.

[2020-02-13 09:50] akurtakov commented on #116
@eselmeister WDYT? If there is interest in such approach I'll happily provide patch.

[2020-02-13 10:07] eselmeister commented on #116
PRs are always welcome :-)

Am 13.02.20 um 03:50 schrieb Alexander Kurtakov:

--
[code]

[2020-02-14 09:04] #116 closed, assigned to nobody

[2020-03-01 10:54] laeubi commented on #114
Does scrolling really makes sense for a pie chart?

[2020-03-02 05:05] eselmeister commented on #114
No, scrolling doesn't make sense for a pie chart. The scrolling support
can be deactivated by a respective pie chart class via the settings.

Am 01.03.20 um 11:54 schrieb Christoph Läubrich:

--
[code]

[2020-03-03 08:30] eselmeister commented on #83
https://projects.eclipse.org/projects/science.swtchart/releases/0.12.0
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=21754

[2020-03-03 08:31] eselmeister commented on #83
A new release has been requested.

[2020-03-04 07:44] laeubi commented on #111
As ChemClipse is preparing for joining the Sim-Rel and also LinuxTools (@akurtakov) now uses SWT-Chart it would be good to if SWT-Chart could prepare a release, ideally also joining the sim-rel.

[2020-03-09 13:37] Himanshu-Balasamanta commented on #114
Hello Alexander,
I am intrested in proposing this project as my GSoC project for eclipse. I would like to take permission from you before proceeding..
Thanks in advanced
Himanshu

[2020-03-09 14:55] akurtakov commented on #114
On Mon, Mar 9, 2020 at 3:37 PM Himanshu Balasamanta <
notifications@github.com> wrote:

That is fine by me. Please state your intend on the github issue so we can
see what do the swtchart devs think about such GSoC.

—

[2020-03-10 08:22] eselmeister commented on #85
![Bildschirmfoto vom 2020-03-10 09-19-50](https://user-images.githubusercontent.com/686671/76293047-a2019400-62b0-11ea-9a8b-6aec9fae6a69.png)

[2020-03-12 05:16] eselmeister commented on #83
The release review has been concluded successful:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=560752

[2020-03-12 05:39] eselmeister opened #124 "Update Documentation / Create Wiki"
Both the documentation shall be updated and a wiki shall be created:

http://www.swtchart.org
https://github.com/eclipse/swtchart/wiki

[2020-03-12 05:42] eselmeister commented on #83
https://download.eclipse.org/swtchart/REL-0.12.0/repository/

[2020-03-12 05:42] #83 closed, assigned to nobody

[2020-03-12 05:52] eselmeister opened #125 "Move develop version to 0.13.0"
The 0.12.0 version has been released:
https://download.eclipse.org/swtchart/REL-0.12.0/repository/

Hence, the develop version shall be increased.

[2020-03-12 05:54] #125 closed, assigned to nobody

[2020-03-12 05:58] eselmeister commented on #111
@Christoph:
The release review has been concluded successful for Eclipse SWTChart
0.12.0.
https://github.com/eclipse/swtchart/issues/83

Please proceed with the ChemClipse release.

Am 04.03.20 um 08:44 schrieb Christoph Läubrich:

--
[code]

[2020-03-12 15:40] yashTEF commented on #82
Do we add a new SeriesType like SeriesType.STEP in the SeriesType enum
e.g.-
`ILineSeries lineSeries = (ILineSeries)chart.getSeriesSet().createSeries(SeriesType.STEP, "step series");`
further we proceed as
[code]

[2020-03-14 09:36] eselmeister opened #126 "Reorganize build and download section"
The build and download section shall be reorganized. Continuous build bundles shall be stored in:

- download.eclipse.org/swtchart/integration

All official and stable releases shall be stored in:

- download.eclipse.org/swtchart/releases

[2020-03-14 09:45] #126 closed, assigned to nobody

[2020-03-14 10:00] laeubi commented on #126
For releases I think there must be changed the following things:

1. automatic nightly builds should be disabled (there is no real need for it)
2. automatic builds on scm change should be disabled (so builds are only triggered, manuall)
3. each build should deploy in an own folder (e.g using the build number or a tag)
4. all individual builds should be aggregated inside a composite repository resi

[2020-03-14 10:34] laeubi opened #127 "Release-Repository is not stable"
Currently the release repository uses the "continious-deployment" part of the swt-chart Jenkins file. This leads to the problem that the version of the release artifacts change every day:

For releases I think there must be changed the following things:

    automatic nightly builds should be disabled (there is no real need for it)
    automatic builds on scm change should be disabled (so builds a

[2020-03-14 10:39] laeubi commented on #127
@eselmeister imo the current git structure is not complete to have a stable release, I would have expected at least the following items:

- a branch named 0.12.x (there is only a REL-0.12.0 one)
- a tag named 0.12.0 (this would then also show up under the github releases)

Then there will be appropriate build for building the latest 0.12.x / bugfix branch, after the build is done the content could

[2020-03-14 15:00] eselmeister commented on #127
The Jenkins build files have been adjusted. The "https://download.eclipse.org/swtchart" section has been also improved:

- integration: contains the continuous integration builds for each branch
- releases: contains the stable official releases

Official URLs for Eclipse SWTChart downloads and fragments are listed here:

https://projects.eclipse.org/projects/science.swtchart/downloads
https://gith

[2020-03-14 15:00] #127 closed, assigned to nobody

[2020-03-14 15:17] laeubi commented on #127
https://github.com/eclipse/swtchart/blob/REL-0.12.0/Jenkinsfile still rebuilds on each change and each day, also I don't see anything that enforces stable build qualifiers based on tagged version so the build will produce still a new version each day leading to a constantly changing release-repository.

[2020-03-14 15:21] eselmeister commented on #127
It's on purpose to ensure that the build keeps on being green. That's why it's in the "integration" area. As mentioned, the stable release is available here:

https://download.eclipse.org/swtchart/releases/0.12.0/repository

[2020-03-14 15:26] laeubi commented on #127
I see so one has to copy from integration area to  release are once the release is ready manually?

[2020-03-14 15:36] eselmeister commented on #127
Yes, that's correct. The project lead is responsible to do this, as he/she keeps track of the release status and ensures that all paperwork is done and that the review has been concluded successfully.

In this case, I have copied the stable release to the release directory. The branch stays in the integration build process to ensure that bugfix release an be created. If a bugfix release is require

[2020-04-01 16:27] himanshu-balasamanta opened #133 "Bar not visible if y data Coordinate is not within axis range"
The Bar with intensity 1.0E3
![zout](https://user-images.githubusercontent.com/44469499/78161732-8b8bca00-7463-11ea-9ea1-942724238863.png)
when zoomed in becomes
![zin](https://user-images.githubusercontent.com/44469499/78161912-c55cd080-7463-11ea-871d-15819b848e0e.png)

[2020-04-02 13:35] eselmeister commented on #133
@Himanshu-Balasamanta You could also use keywords in the commits to automatically close related issues, e.g: "Fixed #133 - bar series is visible now"

[2020-04-02 13:35] eselmeister commented on #133
https://help.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-04-02 13:35] #133 closed, assigned to nobody

[2020-04-06 06:05] eselmeister opened #137 "Interactive Legend"
People have requested to get an interactive legend. This should list:

- visibility of the series
- color
- series id
- series description

Except of series id, values shall be editable/adjustable.

[2020-04-06 06:38] buchen commented on #137
One important thing should be that a) it is possible to add custom actions and b) one gets events in order to react to changes that have been done to the data series via the legend.

On the legend, I am allowing the user to
* remove a series,
* change the color,
* sort all series by name,
* change line style,
* change fill area,
* and re-ordering (move up, move down).

[2020-04-06 06:49] eselmeister commented on #137
@buchen Yep, that's planned. It is also planned to place an embedded legend via the interactive legend editor. This could be achieved by using a "ICustomPaintListener" implementation.

![Bildschirmfoto von 2020-04-06 08-43-07](https://user-images.githubusercontent.com/686671/78530231-92a83480-77e3-11ea-8575-f371b5853a8d.png)

[2020-04-06 06:52] eselmeister commented on #137
The screenshot shows the current tests I'm developing to enable such functionality in SWTChart. The scrollable chart is extended by a SashForm. By default, the extended legend part shall be invisible. It can be activated/deactivated by using a button or menu item to show/hide it.

[2020-04-06 16:02] eselmeister commented on #137
![Bildschirmfoto von 2020-04-06 17-59-17](https://user-images.githubusercontent.com/686671/78579185-d2e1d400-7830-11ea-9ab8-8a2b867b3c88.png)

[2020-04-07 05:51] yashTEF opened #139 "Background Image not getting set in SWTCharts"
Whenever Background Image is set using
`getControl().setBackgroundImage()`
the background image gets overlaid and hidden by the SWTChart,and is not visible in background.
A way around the above issue would be to use paintListener or CustomPaintListener and draw a image using gc-
`plotArea.addCustomPaintHandler(new ICustomPaintListener({
public void paintControl(event e)
{
e.gc.drawImage(image,int

[2020-04-07 14:36] eselmeister commented on #137
The enhanced legend is ready now:

![Bildschirmfoto von 2020-04-07 16-32-51](https://user-images.githubusercontent.com/686671/78682150-ebfc8a80-78ed-11ea-91a7-96f0c1958999.png)
![Bildschirmfoto von 2020-04-07 16-32-59](https://user-images.githubusercontent.com/686671/78682153-ed2db780-78ed-11ea-9d84-cfc3fc42f2eb.png)
![Bildschirmfoto von 2020-04-07 16-33-03](https://user-images.githubusercontent.c

[2020-04-07 14:38] eselmeister commented on #137
The ISeriesSettings instance itself is tracked. This allows to add additional values to the legend editor list. Probably, a ISeriesSettings dialog could be created (like the color editor) to show all settings, so that only the most important are displayed in the list.

[2020-04-07 14:39] eselmeister commented on #137
@fbuloup Would you like to add the new text fields into the translation service?

[2020-04-07 14:41] #137 closed, assigned to nobody

[2020-04-07 19:16] #139 closed, assigned to nobody

[2020-04-07 19:46] eselmeister commented on #114
Merge by @Himanshu-Balasamanta

[2020-04-07 19:46] #114 closed, assigned to nobody

[2020-04-07 19:47] eselmeister commented on #114
https://github.com/eclipse/swtchart/pull/138
Improvements will be applied, based on the linked PR.

[2020-04-08 10:38] eselmeister opened #143 "Fix NPEs when running SWTChart in non Eclipse context"

[2020-04-08 10:39] #143 closed, assigned to nobody

[2020-04-08 12:40] eselmeister opened #144 "Extended Legend - Add IChartSettings option"

[2020-04-08 12:41] #144 closed, assigned to nobody

[2020-04-08 20:06] eselmeister opened #145 "Support non OSGi modus"
Currently, the activator is needed to support the icons and the preferences. It would be great if SWTChart supports also plain Java programs.

[2020-04-08 20:39] #145 closed, assigned to nobody

[2020-04-10 06:27] eselmeister opened #146 "Add redraw status listener option"
It would be nice if the series status listener informs about a redraw event.

[2020-04-10 06:34] #146 closed, assigned to nobody

[2020-04-13 18:40] #85 closed, assigned to nobody

[2020-04-14 06:17] eselmeister opened #148 "Compiler Warning(s)"
SWTChart produces several compiler warnings, as generics have been introduced but classes/interfaces have been not adjusted yet. This needs to be fixed, e.g.:

`ISeries`
to
`ISeries<?>`

[2020-04-14 06:34] eselmeister opened #149 "Enable Buffered Option"
The buffered chart option shall be enabled by default to increase the speed of the user selection event.
See:
https://github.com/eclipse/swtchart/issues/85

[2020-04-14 06:35] #148 closed, assigned to nobody

[2020-04-14 06:35] #149 closed, assigned to nobody

[2020-04-14 14:43] lorenzgerber opened #150 "new buffer feature breaks on OSX"
When using swtchart in openchrom/chemclipse (https://github.com/eclipse/chemclipse) on OSX, the drawing (eg chromatogram) disappears when clicking into the graph for selection/zooming. After releasing the mouse button, the drawing will appear again.

[2020-04-14 15:01] eselmeister commented on #150
@yashTEF The buffer works fine, but there seems to be an issue with macOS. I could imagine, that this is related to the following issue under macOS:
https://github.com/eclipse/swtchart/issues/86

[2020-04-14 19:07] eselmeister opened #151 "BaseChart - buffer active status"
A method shall be added to return a status on the activity of the buffer.

[2020-04-14 19:47] #151 closed, assigned to nobody

[2020-04-15 04:43] laeubi opened #152 "AbstractBaseChartPaintListener should initialize color lazily"
Currently the background color is initialized in the constructor, it would be better if the default color is only used if not already set.

[2020-04-15 05:07] #152 closed, assigned to nobody

[2020-04-15 05:08] yashTEF commented on #150
I looked up the mentioned issue,Seems like a problem in the
`getImageData()` method of the plot area.However I compared the implementation to the one in ImageSupplier and the only difference I can find is that plot area is not redrawn before converting into image data.
Example in ImageSupplier-
`baseChart.redraw()`
`baseChart.update()`

[2020-04-15 05:38] buchen commented on #150
@yashTEF - how do I test this with SWTChart repository? (e.g. not dowloading chemclipse) I'd love to continue to use SWTChart on macOS

[2020-04-15 05:44] eselmeister commented on #150
@buchen You can start SWTChart directly from the source code, either run it as an Eclipse application or use the DemoChart plain java application.

![Bildschirmfoto von 2020-04-15 07-42-27](https://user-images.githubusercontent.com/686671/79302544-f79f1100-7eec-11ea-9e7f-4ebab379368b.png)

![Bildschirmfoto von 2020-04-15 07-43-15](https://user-images.githubusercontent.com/686671/79302548-fbcb2e80-

[2020-04-15 05:46] eselmeister commented on #150
To test the buffered selection, it needs to be enabled via the IChartSettings:

[code]

[2020-04-15 06:04] buchen commented on #150
I can confirm there is a problem if I a) activate the buffer selection and b) remove the test for macOS in the ChartSetting class. I can also confirm that it works if I leave the check for the macOS active.

I have made three screenshots:
* First before clicking
* Second after clicking and holding the mouse, but before *moving* the mouse
* Third after moving the mouse while holding the button clic

[2020-04-15 06:08] eselmeister commented on #150
@buchen Thanks for testing. We will have a look at this issue.

[2020-04-19 12:53] laeubi opened #154 "Don't init colors in constructor for series-settings"
Currently colors are initialized in the constructor, it would be better if the default color is only used if not already set.

[2020-04-22 14:44] eselmeister opened #156 "Mouse Wheel Zoom"
The default behavior zooms in/out at the given mouse position in the chart. It's desirable to have additional functionality here. This should support

* Zoom X only
* Zoom Y only
* Zoom Y + start at 0 when doing an Y zoom

[2020-04-22 20:02] maxamly opened #157 "Color changing for ISeries objects is not available"
[Here](http://www.swtchart.org/doc/index.html#Line_Series_Line_Color), in documentation there is a paragraph about changing line colors via setLineColor() method of ISeries object, but there is no such a method

[2020-04-22 20:14] maxamly commented on #157
Okay, I found that casting ISeries to ILineSeries works

[code]

[2020-04-23 04:50] eselmeister commented on #157
Also have a look at the contained examples:

[code]

Either start the examples as an Eclipse application or run plain Java, e.g. the demo chart:
`org.eclipse.swtchart.extensions.examples.charts.DemoChart`

[2020-04-23 04:50] #157 closed, assigned to nobody

[2020-04-23 10:36] yashTEF commented on #156
How are the above events supposed to be triggered by the user?,
Do we create new Event Processors in extensions.events
like-ZoomXEvent,ZoomYEvent etc.

On Wed, 22 Apr 2020 at 20:15, eselmeister <notifications@github.com> wrote:

[2020-04-23 11:11] eselmeister commented on #156
Via the chart settings, events can be added. My solution is nearly ready. I'll try to commit and push the changes today. Afterwards, we can inspect the code together for explanation how it works.

[2020-04-24 08:29] eselmeister commented on #156
It's quite complex to handle user range selection(s) and zoom events in a flexible and configurable way. Some changes in the API were required, but other projects should be not affected by these changes as:

* method(s) have been set to deprecated and redirect to the new methods
* defaults have been left untouched

The new range restriction handle user selection and mouse zoom events with differen

[2020-04-24 08:33] #156 closed, assigned to eselmeister

[2020-05-04 11:48] eselmeister opened #158 "Improve Buffered Selection"
The buffering is currently activated as soon as one clicks in the chart and if the buffer modus is set to true. The buffer shall be only active when doing a user range selection. Currently, a mouse double click also activates the buffer.

[2020-05-04 12:44] #158 closed, assigned to eselmeister

[2020-05-05 14:57] eselmeister opened #159 "Option to sort legend table"
Currently, the legend table is sorted automatically on the first column. This is confusing when a user disables to show a certain series. Sorting shall be disabled by default. If a user likes to sort the table, an option shall be available to enable the sorting.

[2020-05-05 14:57] #159 closed, assigned to nobody

[2020-05-13 06:20] eselmeister opened #161 "MANIFEST - Automatic Module Name"
It seems to be required that the MANIFEST.MF contains the automatic module name definition, e.g.:
Automatic-Module-Name: org.eclipse.swtchart.extensions

[2020-05-13 06:29] #161 closed, assigned to nobody

[2020-05-14 05:53] eselmeister opened #162 "Demo Menu Support"
Show how a menu item can be added easily.

[2020-05-14 05:54] #162 closed, assigned to eselmeister

[2020-05-15 05:41] himanshu-balasamanta opened #164 "Vertical Slider Issue"
The slider is a widget that returns a value in a linear range when slided.
The selection value is 0 at top and maximum at bottom.
Currently, the vertical slider in SWTChart allocates y axis min for min selection value of slider. This leads to the slider working counter-intuitively.

[2020-05-15 06:41] eselmeister opened #166 "GTK3 - Image export creates a black box"
When using GTK3, the image export creates a black box. It works using GTK2. I assume that this could be something related to the Display.

[2020-05-17 04:47] #164 closed, assigned to nobody

[2020-05-17 05:12] eselmeister opened #167 "Split export bundles"
Currently, the SWTChart export bundle requires the following dependencies:

- java.awt
- org.apache.batik.dom
- org.apache.batik.svggen
- org.apache.batik.ext.awt

These dependencies are only required when exporting the data to e.g. SVG via Apache Batik. Other export methods e.g. to CSV don't require any additional libraries. Hence, the export library shall be splitted into two bundles:

- org.ecl

[2020-05-17 06:04] #167 closed, assigned to eselmeister

[2020-06-04 07:51] himanshu-balasamanta opened #170 "Multi-Level-Pie-Chart Coloring"
The Multi-Level Pie Chart needs a better colouring algorithm, and more number of colours.

- [x] Algorithm to allow least repetition of colours.

- [x]  Algorithm to generate different colours. Currently colours from 'org.eclipse.swt.SWT' is used.

- [x] Should shift to  RGB from 'org.eclipse.swt.graphics.RGB' .

[2020-06-06 11:31] yashTEF opened #172 "Template Export breaks when exporting zoomed series"
The Axis Ticks , legend along with the series get distorted when exporting series with different resolution.

[2020-06-07 09:53] #172 closed, assigned to nobody

[2020-06-08 15:02] yashTEF opened #174 "Template Export uses Hard Coded Coordinates for Export"
The template export works fine but uses hard coded coordinates for setting positions of legends
etc,
e.g- start=80.804.
Instead we need to set the above using some relative positions depending on the borders of the template

[2020-06-08 16:09] ifsarbaby opened #175 "Performance Improvement using ImageData"
Hi SWTChart team,

First, I want to say thank you for making such a great charting library.  I'm a long time SWT developer and I'm glad to see that cool tools such as this are still being developed.

In my current application I am plotting large amounts of data (30,000 points) as line charts or scatter plots.  I would like to refresh the plots quickly.   I noticed that the performance of scatter p

[2020-06-12 07:27] eselmeister commented on #175
@ifsarbaby Yep, we are working steadily to improve the plotting performance. An optimization has been recently added to speed up the selection process by creating an image of the chart and setting it in the background as long as the selection process lasts:

https://github.com/eclipse/swtchart/issues/85

We would be highly interested in your solution. Due to compatibility reasons, code needs to be

[2020-06-16 07:35] himanshu-balasamanta opened #178 "Create Unique Id for each node in Multi Level Pie Chart"
- Currently the label provided user input is used as the id of the Node.
- In most practical cases, divisions(nodes) can have their sub divisions(children) with same labels.
- Create a unique Id, which shall be used internally for identifying different nodes with same labels, and not leading to an error message.

[2020-06-16 12:28] #170 closed, assigned to nobody

[2020-06-17 09:27] eselmeister opened #180 "Export - use description if available instead of series id"
When exporting the data, the description shall be used. Via the legend, the user can adjust the description, so that rather this value shall be used then the generated unique id for the series.

[2020-06-17 09:41] #180 closed, assigned to nobody

[2020-06-22 19:42] eselmeister opened #181 "Pie Chart Examples fails under Linux"
Somehow, the pie chart examples fail to start under Linux:

[code]

[code]

[2020-06-22 19:43] #181 closed, assigned to nobody

[2020-06-24 05:20] eselmeister opened #182 "Jenkinsfile - Adpat Kubernetes Label"
The label 'centos-7' shall be used Instead of 'ui-test':

[code]

adapt:

[code]

[2020-06-24 05:29] #182 closed, assigned to nobody

[2020-06-25 19:15] eselmeister opened #183 "RangeRestriction - NPE"
Using the following code to create a Java application chart works fine:

[code]
But if one forgest to apply the settings, a NPE is thrown:

[code]
This need to be fixed.

[2020-06-25 19:17] #183 closed, assigned to nobody

[2020-06-29 04:25] eselmeister opened #185 "Bundle - Custom Charts"
Currently, a few custom chart specifications are available in the extensions bundle:

- ChromatogramChart
- MassSpectrumChart
- PCAChart

They are examples of Line-, Scatter- or Barseries base chart types. To enable a clearer separation, the charts shall be moved to a distinct bundle. This hopefully makes it easier for contributors to commit new standard chart types. Hopefully, a basic set of stan

[2020-06-29 04:47] #185 closed, assigned to eselmeister

[2020-07-03 05:27] eselmeister opened #186 "Activate SVG Template Export"

[2020-07-03 05:29] #186 closed, assigned to nobody

[2020-07-03 05:36] eselmeister opened #187 "SVG [Template] - format axis scale(s)"
When exporting the data, the defined decimal format of the axis should be used:

![Bildschirmfoto von 2020-07-03 07-25-13](https://user-images.githubusercontent.com/686671/86435161-9c1c3c80-bcff-11ea-97e0-9f24d7b316bb.png)

The interface `IAxisSettings` defines:
[code]

When performing the export, the used decimal format can be easily fetched by calling the get method. The format is defined e.g. a

[2020-07-03 05:44] eselmeister opened #188 "SVG [Template] - take line style "NONE" into account"
Exporting the data could lead to results like this, e.g. "LineSeries_1":

![Bildschirmfoto von 2020-07-03 07-18-19](https://user-images.githubusercontent.com/686671/86435620-b0146e00-bd00-11ea-87e4-e0295d077d20.png)

![Bildschirmfoto von 2020-07-03 07-38-36](https://user-images.githubusercontent.com/686671/86435646-bdc9f380-bd00-11ea-81f8-d1de8127d08a.png)

The chart contains line series, where on

[2020-07-03 05:51] eselmeister opened #189 "SVG [Template] - allow to temporarily modify the selected series, description, color"
When doing the export, the user current only has the option to select "all" or only "visible" series. This could be enhanced by replacing the combo box by the extended legend:

![Bildschirmfoto von 2020-07-01 07-50-35](https://user-images.githubusercontent.com/686671/86435954-7d1eaa00-bd01-11ea-808b-18de18702bdc.png)

Extended Legend Example:
`org.eclipse.swtchart.extensions.examples.charts.DemoCh

[2020-07-03 06:04] eselmeister opened #190 "SVG [Template] - connections / line end"
Instead of using hard connections and line ends:

![Bildschirmfoto von 2020-07-03 07-59-33](https://user-images.githubusercontent.com/686671/86436960-bd7f2780-bd03-11ea-82a6-818966a889a2.png)

soft connections and line ends should be used by default:

![Bildschirmfoto von 2020-07-03 07-59-46](https://user-images.githubusercontent.com/686671/86436988-c96ae980-bd03-11ea-8df2-902e3dcbb9fe.png)

The e

[2020-07-03 06:06] eselmeister commented on #190
[Data-Hard.zip](https://github.com/eclipse/swtchart/files/4867995/Data-Hard.zip)

[Data-Soft.zip](https://github.com/eclipse/swtchart/files/4867997/Data-Soft.zip)

[2020-07-03 06:12] eselmeister opened #191 "SVG [Template] - consider reversed axis settings"
Some charts required a reversed axis, e.g. NMR data, example Line Series 6:

![Bildschirmfoto von 2020-07-03 07-22-23](https://user-images.githubusercontent.com/686671/86437347-adb41300-bd04-11ea-97aa-1f44a2b78ccc.png)

The exported SVG should also print the data and axis reversed (x axis from positive to negative values):

![Bildschirmfoto von 2020-07-03 08-08-36](https://user-images.githubuserco

[2020-07-03 06:24] eselmeister opened #192 "SVG [Template] - print additional data (IBaseChartPaintListener)"
The charts can be enriched by adding custom IBaseChartPaintListener, see LabelMarker or AxisZeroMarker:

![Bildschirmfoto von 2020-07-03 08-16-18](https://user-images.githubusercontent.com/686671/86438259-84948200-bd06-11ea-8789-da4b7856b0bb.png)

![Bildschirmfoto von 2020-07-03 08-16-25](https://user-images.githubusercontent.com/686671/86438261-852d1880-bd06-11ea-84d0-3894fac8ecd4.png)

Is it pos

[2020-07-03 09:26] #187 closed, assigned to nobody

[2020-07-03 09:47] eselmeister opened #194 "Scrollable Chart - set background color in a coherent way"
Currently, some regions of the scrollable chart are not updated when setting the background color.

[2020-07-03 09:47] #194 closed, assigned to nobody

[2020-07-03 11:44] #188 closed, assigned to nobody

[2020-07-05 07:26] himanshu-balasamanta opened #196 "Adding Doughnut Chart as another chart type along with Pie Charts"
All the functionalities of single level Pie Chart have been implemented into Multi Level Pie Chart already.
Doughnut Charts are to be added.
- [ ] Make the PieSeries class abstract, let Multi-Level Pie Chart Extend it.
- [ ] Add doughnut Charts as an extension of PieSeries Class.
- [ ] Rename the Multi Level Pie Chart to simple Pie Chart.

The implementation of Doughnut Chart as a counterpart of S

[2020-07-06 12:04] #190 closed, assigned to nobody

[2020-07-06 12:12] #196 closed, assigned to nobody

[2020-07-10 10:02] #191 closed, assigned to nobody

[2020-07-10 10:32] himanshu-balasamanta opened #201 "Higher Level Nodes not clearly visible"
At higher levels of the Circular Charts, the colours tend to become dark and indistinguishable.
The angle covered by such nodes are usually small, making them hard to compare between themselves.
Thus, we must,
Add a listener that listens to clicks and recognises under which node of the circular chart does it lie, and render redrawn chart with that node as rootNode.
This will allow a clearer compar

[2020-07-10 11:19] eselmeister commented on #201
@Himanshu-Balasamanta Yep, that's a good idea.

[2020-07-13 05:48] eselmeister opened #202 "Internal Package - CircularSeries"
Instead of using CircularSeries, the interface ICircularSeries should be better used as access to internal packages from outside bundles is discouraged.

`CircularSeries multiLevelPie = (CircularSeries)chart.getSeriesSet().createSeries(SeriesType.PIE, "countries");`

should be better:

`ICircularSeries multiLevelPie = (ICircularSeries)chart.getSeriesSet().createSeries(SeriesType.PIE, "countries");

[2020-07-13 05:49] eselmeister commented on #202
@Himanshu-Balasamanta Please have a look at hit. But it's just a minor issue.

[2020-07-14 10:25] #202 closed, assigned to nobody

[2020-07-14 10:46] eselmeister opened #204 "Add SpiderChart Support"
SWTChart currently supports:

- LineCharts
- ScatterCharts
- BarCharts
- PieCharts
- MultiLevelPieCharts

It would be great if SpiderCharts could be supported too:

[https://en.wikipedia.org/wiki/Radar_chart](https://en.wikipedia.org/wiki/Radar_chart)
[https://en.wikipedia.org/wiki/File:Spider_Chart2.jpg](https://en.wikipedia.org/wiki/File:Spider_Chart2.jpg)

[2020-07-16 08:57] eselmeister opened #205 "Add RadarChart Support"
see:
https://github.com/eclipse/swtchart/issues/204

[2020-07-19 06:18] himanshu-balasamanta opened #208 "Improve the Colouring of Circular Charts"

[2020-07-19 06:23] himanshu-balasamanta opened #209 "Implement functionalities from Linux Chart Tools into Circular Charts"
This includes
- Ability to plot multiple pie charts on a single plot area
- Adding a title to each pie chart
- Implement the same API as used in Linux Tools

[2020-07-19 06:24] himanshu-balasamanta commented on #209
A list of the APIs to be implemented will be updated here soon..

[2020-07-19 06:32] himanshu-balasamanta commented on #208
-Princess Shuri from _**'Black Panther'**_

[2020-07-20 05:36] #201 closed, assigned to nobody

[2020-07-23 07:11] himanshu-balasamanta commented on #209
- API to return the node where an event occured. getSliceIndexFromPosition(int pieIndex, int x, int y)
- An API to get the percentage of the node w.r.t. the rootpointer/rootNode - getSlicePercent(int pieIndex, int sliceIndex)
- Add NodeSettings in addition to just the circular chart settings
- Option to redraw the chart on clicking of merely Highlight the node.

**All of these can be implemented i

[2020-07-24 11:38] #189 closed, assigned to nobody

[2020-07-26 08:06] laeubi opened #211 "Provide branding for swt-chart feature"
Currently SWT-Chart does not appear inside the About-Page if used inside a product, it would be nice if there would be a feature branding with some information about SWT-Chart.

I could provide a PR for this, but it seems there is no official logo available in the repository, the onyl thing I found was https://github.com/eclipse/swtchart/blob/develop/org.eclipse.swtchart.extensions.examples/icons/

[2020-07-28 15:37] himanshu-balasamanta opened #212 "Better usage of space in circular charts"
In circular charts, on redrawing when a node is clicked, the redrawn chart does not occupy the entire area available to it.

[2020-07-29 03:07] himanshu-balasamanta commented on #212
Or should I create an setting allowing the user to chose to opt or not to opt for it?

[2020-07-29 16:56] eselmeister commented on #212
Yep, letting the developer define it via a setting is a good choice.

Am 29.07.20 um 05:07 schrieb Himanshu Balasamanta:

--
[code]

[2020-07-30 20:50] #73 closed, assigned to nobody

[2020-07-31 19:34] MatthewKhouzam opened #214 "Handle axis formatters that are lossy (Major vs Minor ticks)"
Currently the implementation of swtchart looks to see if value -> formatted -> returned == value in order to determine if a value is a major tick (and thus shown) leads to unexpected behaviors when the formatter truncates decimals.

We use it in trace compass, and the Y axis does not display all the time for values divided by 1024 rather than 1000. The results are therefore a bit odd. See pic belo

[2020-07-31 20:24] MatthewKhouzam commented on #214
I put up a patch that fixes the issue, but I am not sure if it is inline with the swtchart way of working. :)

[2020-08-01 20:54] eselmeister commented on #214
@MatthewKhouzam SWTChart allows to add secondary axes. A secondary axis requires a converter, e.g. to convert from the base value Kilobyte to the secondary value Kibibyte. I'm just back from a business trip. I'll review your issue the next days.

[2020-08-03 08:21] eselmeister commented on #214
@MatthewKhouzam I've added a demo. It shows how to use a secondary axis.
`org.eclipse.swtchart.extensions.examples.charts.SecondaryAxisChart`

You can place the axis either on secondary position (right) or primary position (left). The primary axis can be also set to visible = false.

![Bildschirmfoto von 2020-08-03 10-16-38](https://user-images.githubusercontent.com/686671/89161532-003a5680-d573-1

[2020-08-03 08:21] eselmeister commented on #214
You can simply run the demo from within Eclipse as a Java application.

[2020-08-04 15:31] eselmeister commented on #214
Patch merged into develop.

[2020-08-04 15:31] #214 closed, assigned to nobody

[2020-08-07 09:48] #212 closed, assigned to nobody

[2020-08-07 10:57] eselmeister opened #218 "ChartSettings - get menu entry / event processor by class"
Add a method the get a specific menu entry or event processor by class. This helps to modify specific functionalities of the chart or to exchange one or more pre-defined handlers completely.

[2020-08-07 10:57] #218 closed, assigned to nobody

[2020-08-11 12:25] eselmeister opened #220 "BarSeries - SVG Export"
The bar series seem to be not scaled when running an export:

![Bildschirmfoto von 2020-08-11 14-18-23](https://user-images.githubusercontent.com/686671/89896831-61e76a00-dbde-11ea-99e2-37c9d8223b33.png)

![Bildschirmfoto von 2020-08-11 14-20-12](https://user-images.githubusercontent.com/686671/89896837-657af100-dbde-11ea-9aeb-f4cb951e252b.png)

@yashTEF Could you have a look at this issue?

[2020-08-12 05:36] eselmeister opened #221 "Release 0.13.0"
I'd like to schedule a new release for the beginning of September.

- GSoC 2020 ends in August
- Eclipse release is scheduled for September
- Science release is scheduled for October

[2020-08-13 13:43] #220 closed, assigned to nobody

[2020-08-13 14:55] eselmeister opened #223 "Improve Export - ChartType"
In most cases, the export works generically using the data series, e.g.:

- TSVExportHandler
- CSVExportHandler

In some cases, the export tries to define the chart type:

- LineChart
- BarChart
- ScatterChart
- ...

It's possible to extend the ScrollableChart directly. In such a case, the export can't determine the specific export type, e.g.:

- RScriptExportHandler
- SVGExportHandler

[2020-08-13 14:58] #223 closed, assigned to eselmeister

[2020-08-13 15:01] eselmeister commented on #223
It's possible to define the chart type now. This is done in most cases automatically. But it can be set also via code, e.g. if a chart extends from ScrollableChart and the user switches between different display types (line, bar). It's not the most elegant solution, but it helps to enable export support for R and SVG even if the scrollable chart is used directly.

[2020-08-14 07:48] himanshu-balasamanta commented on #209
All functionalities are added, However
The Legend needs improvement,
Currently, one can only create multiple single level pie charts. Need to add functionalities to create doughnut charts, and multiLayered Pie and Doughnut charts.

[2020-08-15 06:20] himanshu-balasamanta commented on #209
Allow an option in parallel Pie Charts to redraw on click. All of them should redraw in sync.

[2020-08-15 06:27] himanshu-balasamanta commented on #209
Implemented redrawing parallel pieCharts on sync, but legend is not in sync, as the legend is separate from the basechart. Legend gets redrawn only when the entire composite is redrawn (resized).
@eselmeister , we need to add a listener to ParallelPieCharts class that redraws the legend when any of the charts register a mouse down event. What do you think, how should this be done?

[2020-08-15 07:07] himanshu-balasamanta commented on #209
Need to make a wiki for pie charts too. And then update the mailing list, add examples indicating the API usage.

[2020-08-17 04:54] eselmeister commented on #209
Hi Himanshu,

I assume, that we need some kind of observer pattern here.
Let's have a look if Java or SWT supports the pattern out-of-the-box.

Best,
Philip

Am 15.08.20 um 08:28 schrieb Himanshu Balasamanta:

--
[code]

[2020-08-19 22:53] ifsarbaby commented on #175
Hi,
Sorry for the delay in this, I had other items I needed to address.  I wanted to clean up the code and do some more testing before I pass this on.  I also improved the algorithm further, and included clipping (i.e. never render a pixel outside of the visible area) to furthur improve performance.  The solution that I came up with is really quite fast, and I am happy that we can plot data in rea

[2020-08-20 05:55] eselmeister commented on #175
Hi ifsarbaby,

thanks for feedback. I had a look at the code. It could be an
improvement for SWTChart and hopefully helps to plot huge data sets in a
performant way. IMHO, it's a good demo. Before the code will be merged
for testing purposes, some additional steps are required:

* Have you written all code on your own? Where does the
FastLineDrawingSWT.java come from? Who has written it?
* Have yo

[2020-08-20 19:29] ifsarbaby commented on #175
Gruesse Eselmeister

Regarding your questions:
- The code for FastLineDrawingSWT is my own code.
- I have not tested this on mac or linux, however I would anticipate no problems.  The algorithm uses java methods and not any SWT system OS calls that are known to cause problems.

I have completed the eclipse contributors agreement as provided.  However, I don't have time to contribute anything more

[2020-08-24 08:53] eselmeister commented on #175
Hi,

ok, great that you have completed the Eclipse Contributors Agreement.
It's a pre-requisite that additional code is merged via a Pull Request.
Hence, I would recommend to proceed as follows:

A) FastLineDrawingSWT -> Rename to FastGC (probably it will be used for
more than just line drawing in the future)
B) Place FastGC in the package "org.eclipse.swtchart.internal"
C) The package declaration

[2020-08-26 12:02] himanshu-balasamanta commented on #209
Wiki has been created for single and multi level for Pie and Doughnut charts in the basic and Extended Bundle. link
https://github.com/Himanshu-Balasamanta/swtchart/wiki

[2020-08-26 16:35] #154 closed, assigned to nobody

[2020-08-27 05:01] eselmeister commented on #76
@laeubi Is this issue solved? When closing issues without code contribution, please write a comment.

[2020-08-27 05:02] eselmeister commented on #23
@laeubi Is this issue solved? When closing issues without code contribution, please write a comment.

[2020-08-27 05:04] eselmeister commented on #84
@laeubi I can't see that you have provided a JFace menu manager example or better a PR to address this issue. When closing issues without code contribution, please write a comment. Did the problem disappear?

[2020-08-27 11:30] himanshu-balasamanta commented on #209
All functionalities are implemented.

[2020-08-27 11:30] #209 closed, assigned to nobody

[2020-08-27 11:31] himanshu-balasamanta commented on #178
Not necessary... Now we have better alternative... Closing it..

[2020-08-27 11:31] #178 closed, assigned to nobody

[2020-09-09 11:37] eselmeister opened #228 "CircularLegend uses internal classes of the base package"
Using internal classes of an OSGi bundle should be avoided.

[2020-09-09 11:37] #228 closed, assigned to nobody

[2020-09-09 11:44] eselmeister opened #229 "Distance Measurement on X and Y axis"
It would be great to measure distances in a chart, either a X or Y distance. The result should be displayed in the format of the visible axes. To achieve this, a combination of

- IBaseChartPaintListener
- MouseDown, MouseMove and MouseUp Event

could be used. It's not required to implement a solution now. The solution itself should be generic, so that it can be used in various situations, even wh

[2020-09-15 12:34] eselmeister commented on #221
https://projects.eclipse.org/projects/science.swtchart/downloads

[2020-09-15 12:34] #221 closed, assigned to eselmeister

[2020-09-15 13:45] #211 closed, assigned to nobody

[2020-09-15 15:46] himanshu-balasamanta commented on #72
@eselmeister  Please reopen this issue.

[2020-09-15 16:21] eselmeister opened #232 "Update develop to bundle version 0.14.0"

[2020-09-15 16:22] #232 closed, assigned to nobody

[2020-09-15 18:22] eselmeister opened #233 "Accidental User Selection"
Currently, it could happen that the user triggers a selection unintentionally. This happens when a mouse double click is performed and the left mouse button is kept pressed and the mouse is moved.

![Bildschirmfoto von 2020-09-15 20-11-51](https://user-images.githubusercontent.com/686671/93249169-2d447080-f791-11ea-9908-94d62ab3d929.png)

[2020-09-15 18:23] #233 closed, assigned to nobody

[2020-10-08 07:37] eselmeister opened #234 "Tooltips - show description instead of id"
The description shall be displayed instead of the "cryptic" series id.

[2020-10-08 07:38] #234 closed, assigned to nobody

[2020-11-17 04:49] eselmeister commented on #166
Related:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=546743#c17
https://git.eclipse.org/r/c/platform/eclipse.platform.swt/+/155907
https://git.eclipse.org/r/c/platform/eclipse.platform.swt/+/155989

[2020-11-18 07:16] eselmeister commented on #166
https://bugs.eclipse.org/bugs/show_bug.cgi?id=546743#c17

[2020-11-21 07:43] eselmeister opened #235 "Modify/Delete Mappings"
It would be nice to edit the mappings, e.g.

- Delete
- Import
- Export
- Reset

![Bildschirmfoto von 2020-11-21 08-39-01](https://user-images.githubusercontent.com/686671/99870721-a7500600-2bd5-11eb-9a92-d19559141735.png)

[2020-11-21 07:57] eselmeister opened #236 "Extended Series Settings Dialog"
Currently, it's possible to select the line or bar series color via the legend:

![Bildschirmfoto von 2020-11-21 08-01-25](https://user-images.githubusercontent.com/686671/99870999-82f52900-2bd7-11eb-86ec-8e8f77ee2a6e.png)

At runtime, all settings of the line or bar series shall be editable:

![Bildschirmfoto von 2020-11-21 08-01-26](https://user-images.githubusercontent.com/686671/99871015-a3bd7

[2020-12-12 20:01] nabil23 opened #237 "SWT.H_SCROLL"
Hi , how can i use H_SCROLL in SWT Chart ?

[2020-12-13 07:53] eselmeister commented on #237
Please use a subclass of ScrollableChart. The horizontal scrollbar can
be enabled via the settings:

         IChartSettings chartSettings = getChartSettings();
         chartSettings.setHorizontalSliderVisible(true);
         applySettings(chartSettings);

See example:
org.eclipse.swtchart.extensions.examples.parts.LineSeries_2_Part

Best,
Philip

Am 12.12.20 um 21:01 schrieb Nabil:

--
[code]

[2021-01-21 12:55] nabil23 commented on #237
Hi
I have problems to implement swtchart with H_SCROLL ,
Error : getChartSettings() and applySettings is undefined
all jar is included ??

[2021-01-21 13:21] eselmeister commented on #237
Hi Nabil,

did you include the three following libraries in your project?

org.eclipse.swt
org.eclipse.swtchart
org.eclipse.swtchart.extensions

Best,
Philip

Am 21.01.21 um 13:55 schrieb Nabil:

--
[code]

[2021-01-21 23:02] nabil23 commented on #237
Yes

[2021-01-22 04:42] eselmeister commented on #237
OK, please attach the error log.

Am 22.01.21 um 00:03 schrieb Nabil:

--
[code]

[2021-01-22 09:39] nabil23 commented on #237
3 method undefined

![swt](https://user-images.githubusercontent.com/4959294/105473741-bc144d00-5c9d-11eb-9ff7-01a957809d2e.png)

getChartSettings , applySettings , addSeriesData ,

[2021-01-23 08:40] eselmeister commented on #237
Does your class extends from ScrollableChart?
It's important that the aforementioned libraries are linked correctly.
Do you use SWTChart in a plain Java or an OSGi application?
Please share the class and setup for deeper inspection.

Best,
Philip

Am 22.01.21 um 10:39 schrieb Nabil:

--
[code]

[2021-01-24 20:50] nabil23 commented on #237
it's ok ,
last question in this case how can i insert my data (values , labels ) from table [] like simple chart ?

[2021-01-25 05:02] eselmeister commented on #237
You could have a look at the charts listed in the bundle:
org.eclipse.swtchart.customcharts

Alternatively, the example bundles contain demos for Line, Scatter and
Barcharts:

org.eclipse.swtchart.examples
org.eclipse.swtchart.extensions.examples

Best,
Philip

Am 24.01.21 um 21:50 schrieb Nabil:

--
[code]

[2021-01-27 14:36] himanshu-balasamanta commented on #237
@nabil23 have a look at this [issue](https://github.com/eclipse/swtchart/issues/72) to start by... It is a good starting contribution. Just will have to replace an depricated library method with a new one

[2021-02-02 10:28] Utkarshn10 commented on #208
@Himanshu-Balasamanta I want to contribute in this repo. Could you guide me how to proceed and where can I find the setting up guide for the repo. I have cloned the repo.

[2021-02-02 12:07] himanshu-balasamanta commented on #208
https://accounts.eclipse.org/mailing-list/swtchart-dev
In this mailing list, scroll back one year, and check what all @eselmeister has written on how to run the project.

[2021-02-02 12:14] Utkarshn10 commented on #208
Thank you for replying!!!

[2021-02-02 13:39] Utkarshn10 opened #238 "Improve Commented Message in MultilLevelPieExample"
Currently the file mentioned above contains commented message as shown. It can be improved to make it more contributer friendly.

![Capture](https://user-images.githubusercontent.com/58587256/106607873-cc73d400-6589-11eb-97e6-f4f42510bbdd.PNG)

[2021-02-03 05:20] #208 closed, assigned to nobody

[2021-02-09 07:40] eselmeister opened #239 "BaseChart - return series ids"
Add a convenient method to return all currently active series ids.

[2021-02-09 07:54] #239 closed, assigned to nobody

[2021-02-12 08:54] eselmeister opened #240 "ImageSupplier"
Support

- BaseChart
- Chart

as input type.

[2021-02-12 08:54] #240 closed, assigned to nobody

[2021-02-17 15:44] himanshu-balasamanta commented on #238
Kindly Close the issue now @eselmeister

[2021-02-17 19:32] #238 closed, assigned to nobody

[2021-02-21 14:12] Tanmay2510 commented on #229
Hi, @eselmeister Sir I would like to contribute, can you suggest me ways to get started?

[2021-02-23 17:09] Tanmay2510 commented on #236
Hey, @eselmeister  I am a beginner in this project, can you suggest me some beginner friendly issue to contribute?

[2021-02-24 11:15] eselmeister commented on #236
Hi Tanmay,

you're welcome.
Were you able to clone the source code and run SWTChart from-scratch
locally?

Best,
Philip

Am 23.02.21 um 18:09 schrieb Tanmay Raikwar:

--
[code]

[2021-02-24 18:47] Tanmay2510 commented on #236
Yes sir, I have cloned the source code and ran the org.eclipse.swtchart.examples.

[2021-02-25 14:33] eselmeister commented on #236
A good starter issue is this one:
https://github.com/eclipse/swtchart/issues/235

Don't hesitate to ask if you have questions.

Best,
Philip

Am 24.02.21 um 19:48 schrieb Tanmay Raikwar:

--
[code]

[2021-02-25 17:00] Tanmay2510 commented on #236
Thank you for the help sir. I'll surely ask if any question comes in my mind.

[2021-03-01 17:17] Tanmay2510 commented on #235
@eselmeister Sir, do the buttons(DELETE,Export,Reset,Import) need to be put inside the setting mappings UI beside the Ok and Exit button or it should be aligned with extended legend buttons?

[2021-03-01 19:20] eselmeister commented on #235
Hi Tanmay,

please place them inside the "Setting Mappings" dialog right aligned on
top of the list "ID, Description". Use the code snippet as a hint:

Composite composite = new Composite(parent, SWT.NONE);
GridData gridData = new GridData(GridData.FILL_HORIZONTAL);
gridData.horizontalAlignment = SWT.END;
composite.setLayoutData(gridData);
composite.setLayout(new GridLayout(2, false));
... create

[2021-03-03 16:43] Tanmay2510 commented on #235
Sir, I am stuck. I am unable to create any changes/or create a button inside the "Setting Mappings" dialog. And even if I create a button it gets placed in extended legend (used MappingsDialog to open the dialog again from button placed in the extended legend).

[2021-03-06 08:42] Tanmay2510 commented on #235
@eselmeister Sir, I am stuck. I am unable to create any changes/or create a button inside the "Setting Mappings" dialog. And even if I create a button it gets placed in extended legend. Could you please help me?

[2021-03-06 08:47] eselmeister commented on #235
Tanmay,

try harder to find a solution :-).

Best,
Philip

Am 06.03.21 um 09:42 schrieb Tanmay Raikwar:

--
[code]

[2021-03-07 18:39] Tanmay2510 commented on #235
Update: Successfully created  a button inside the Mapping Setting dialog.
![ButtonsEclipse](https://user-images.githubusercontent.com/78039581/110251340-0c254580-7fa6-11eb-809b-5d28a5d0e755.jpg)

[2021-03-15 06:10] eselmeister opened #242 "Extended Legend - Set Series Color"
Set the color for the selected series of the legend at once.

[2021-03-15 06:12] #242 closed, assigned to nobody

[2021-03-15 06:12] eselmeister commented on #242
![Bildschirmfoto von 2021-03-15 07-08-17](https://user-images.githubusercontent.com/686671/111110994-d2cc7700-855d-11eb-932b-5507727d83ea.png)

![Bildschirmfoto von 2021-03-15 07-08-30](https://user-images.githubusercontent.com/686671/111111005-d65ffe00-855d-11eb-8d8e-2ad0c6f3f469.png)

![Bildschirmfoto von 2021-03-15 07-08-37](https://user-images.githubusercontent.com/686671/111111012-d9f38500-85

[2021-03-22 07:45] eselmeister commented on #82
https://github.com/eclipse/swtchart/commit/c6f16628782fc9cdf86c3826e1b08156b0a2759e

[2021-03-22 07:45] #82 closed, assigned to nobody

[2021-03-22 07:46] eselmeister commented on #124
Done

[2021-03-22 07:46] #124 closed, assigned to nobody

[2021-03-25 06:28] eselmeister opened #243 "ScrollableChart - set menu listener"
The chart menu can be modified dynamically via the chart settings. As the chart menu items may change, a new menu is created is time, the chart settings are applied. But the user might need a feedback if the menu was activated or deactivated. Hence, a menu listener shall be set to react on the changes.

[2021-03-25 06:31] #243 closed, assigned to nobody

[2021-03-25 07:58] eselmeister opened #244 "Adjust Preference Page Title"
to SWTChart

[2021-03-25 08:00] #244 closed, assigned to nobody

[2021-03-25 08:01] eselmeister commented on #244
[See #546 (ChemClipse)](https://github.com/eclipse/chemclipse/issues/546)

[2021-03-25 13:49] eselmeister opened #245 "Add Violin Chart Support"
https://en.wikipedia.org/wiki/Violin_plot

[2021-03-25 15:40] eselmeister opened #246 "Buffer Selection - General Setting via Preference Page"
The buffer selection works fine and improves the speed when performing a selection. Current limitations are:

- macOS - #150
- GTK3 - #166

Anyway, instead of enabling/disabling the settings for each chart separately, a general setting page shall allow to activate the buffer option.

[2021-03-25 15:46] #246 closed, assigned to nobody

[2021-03-27 07:51] eselmeister opened #247 "Extended Legend - Menu Items Set Visibility"
Add menu items to:

- Hide Series
- Show Series
- Hide Series In Legend
- Show Series In Legend
- Set a description

for the selected series.

[2021-03-27 08:07] #247 closed, assigned to nobody

[2021-03-27 08:08] eselmeister commented on #247
![Bildschirmfoto von 2021-03-27 08-52-49](https://user-images.githubusercontent.com/686671/112714708-e40d7000-8edb-11eb-8493-dba0595b48f4.png)

![Bildschirmfoto von 2021-03-27 08-52-57](https://user-images.githubusercontent.com/686671/112714714-ea035100-8edb-11eb-8e10-f93ae25ca755.png)

![Bildschirmfoto von 2021-03-27 08-53-14](https://user-images.githubusercontent.com/686671/112714719-ecfe4180-8e

[2021-05-22 08:01] eselmeister commented on #235
A refresh is required when the mapped settings are deleted. Importing settings automatically tries to match the settings.

![Bildschirmfoto von 2021-05-22 09-56-27](https://user-images.githubusercontent.com/686671/119219180-7ac56a00-bae4-11eb-8d6d-783caf544f4b.png)

![Bildschirmfoto von 2021-05-22 09-57-12](https://user-images.githubusercontent.com/686671/119219181-7dc05a80-bae4-11eb-801b-b66257bd

[2021-05-23 04:45] eselmeister commented on #235
I have an idea how to enable the reset functionality without hassles.

[2021-05-25 05:06] eselmeister commented on #235
This is a complex issue :-). I have recognized, that the export dialog changes the settings too. The export shall only change the series settings temporarily.

[2021-05-25 05:09] #235 closed, assigned to eselmeister

[2021-05-25 05:11] eselmeister commented on #235
The mappings dialog has been modified. It's possible to reset selected and all mappings. It will replace the changes by the defaults. Remove all clears the mappings as well as the defaults. The next time, a change is made to the settings, a new default is created.

![Bildschirmfoto von 2021-05-25 07-03-48](https://user-images.githubusercontent.com/686671/119442576-683b7280-bd28-11eb-95c1-34ede4d3e

[2021-05-25 05:15] eselmeister commented on #235
Though this issue was a bit more complex than anticipated, many issues needed for the following issue have been implemented yet:
https://github.com/eclipse/swtchart/issues/236

[2021-06-28 06:01] eselmeister commented on #229
A demo has been implemented in ChemClipse:
https://github.com/eclipse/chemclipse/issues/572

[2021-06-28 06:01] #229 closed, assigned to nobody

[2021-06-28 06:03] #23 closed, assigned to nobody

[2021-06-28 11:49] Mailaender opened #248 "Sortable Table Icon"
https://github.com/eclipse/swtchart/issues/159 added an unlabeled checkbox that has to be discovered using the tooltip. Known iconography for this kind of feature does exist across applications and improves usability a tiny bit.

[2021-06-28 18:21] #248 closed, assigned to nobody

[2021-06-28 18:39] eselmeister commented on #248
@Mailaender Have a look at some minor improvement I have appended to

- set the initial status image
- refresh the image after closing the settings editor
- set the list sort status after closing the settings

[2021-06-29 12:06] Mailaender opened #250 "Button to toggle visibility of all loaded data series"
For large datasets where one run contains 96 series, it can be a struggle to hide/select all at once in the legend.

[2021-06-30 05:46] #250 closed, assigned to nobody

[2021-07-04 06:56] eselmeister opened #252 "Eclipse 2021-06 and Java16"
Create a test to run Eclipse SWTChart on the basis of the latest Eclipse IDE 2021-06 and the latest Java 16.

[2021-07-04 07:10] eselmeister commented on #252
The latest Eclipse IDE and Java16 works fine. Some minor issues needs to be solved.
Findings:

- The bundle `org.eclipse.swtchart.export.extended` has been removed as Batik dependencies are needed. As `org.eclipse.swtchart.export` offers meanwhile a simple way to export to SVG, let's keep the overhead of the library small.
- Tycho 2.4.0-SNAPSHOT is needed (Java 16)
- https://github.com/eclipse/swt

[2021-07-04 21:19] Mailaender commented on #252
It seems this error occurred with the update to Java 8 previously https://bugs.eclipse.org/bugs/show_bug.cgi?id=530093 and had to be fixed in the Eclipse platform.

[2021-07-26 11:52] Mailaender commented on #252
I vote against Java 16 as that will EOL in September. https://www.oracle.com/java/technologies/java-se-support-roadmap.html At least one release should be on the current LTS, then further upgrade steps can be undertaken.

[2021-08-03 05:43] eselmeister commented on #252
I agree, we should first migrate to Java 11. If full Java 17 support is available next year, we could give the next LTS (Java 17) a try in 2022.

[2021-08-03 11:28] Mailaender opened #253 "Java 11"
https://www.oracle.com/java/technologies/java-se-support-roadmap.html Java 8 is EOL, it is in extended support for commercial customers. https://twitter.com/akurtakov/status/1410577466016649223 did a poll which indicates that Eclipse SWT will drop Java 8 soon as well. There was already interest to compile using the current LTS release Java 11. https://github.com/eclipse/swtchart/pull/110 layed som

[2021-08-09 16:30] Mailaender opened #255 "Tooltips of invisible series are shown"
This leads to confusing ghost tooltips when hiding them in the legend.

[2021-08-10 04:33] #255 closed, assigned to nobody

[2021-08-11 09:46] eselmeister opened #257 "macOS - key and mouse events"
It seems, that some key and mouse events are handled differently on macOS than on Windows and Linux. It would be great to setup a demo with logging options to inspect the behavior on macOS.

[2021-08-11 09:48] #257 closed, assigned to nobody

[2021-08-11 09:52] eselmeister commented on #257
Just run the DemoChart as a simple Java Application:

![Bildschirmfoto von 2021-08-11 11-48-43](https://user-images.githubusercontent.com/686671/129008647-ead4dddb-127e-44e4-9edc-3b8143c66de3.png)

Test:

Range Selection (left mouse button pressed - draw rectangle)
Distance Selection (CTRL + left mouse button pressed - draw line)

![Bildschirmfoto von 2021-08-11 11-39-55](https://user-images.githu

[2021-08-13 06:57] eselmeister opened #258 "SWT key handling on macOS"
Some users have reported strange behavior regarding the range and distance selection on macOS. A test case to inspect it has been created here:

[#257](https://github.com/eclipse/swtchart/issues/257)

As it turned out, instead of using SWT.CTRL, SWT.MOD1 shall be used instead. This has been also described here:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=463130#c7

The following mappings shall b

[2021-08-13 07:35] #258 closed, assigned to eselmeister

[2021-08-13 09:09] Mailaender opened #259 "WMF export"
Windows Metafile is a proprietary vector graphics format which allows copying data into Microsoft Office products. There is experimental support at https://xmlgraphics.apache.org/fop/2.3/graphics.html#wmf which is in Eclipse Orbit.

[2021-08-13 15:03] eselmeister commented on #259
We could give it a try in the bundle:
`org.eclipse.swtchart.export.extended`

But I would keep this issue at low priority.

[2021-08-19 15:21] nu11ptr opened #260 "Financial Charts?"
Any plans to add financial charts? OHLC? Candlesticks?

[2021-08-19 19:20] eselmeister commented on #260
Yeah, why not. Please open separate issues for OHLC, Candlesticks and others.
See examples here:

https://github.com/eclipse/swtchart/issues/245 (Violin Plots)
https://github.com/eclipse/swtchart/issues/204 (Spider Charts)

Do you have knowledge and skills to implement you chart types?

[2021-08-19 19:25] nu11ptr commented on #260
Possibly - it depends how much work it would entail. I've never used SWTChart, but am using JFreeChart atm, so it is more a "nice to have" atm

[2021-08-19 19:26] nu11ptr commented on #260
I will open issues for the chart types

[2021-08-19 19:26] #260 closed, assigned to nobody

[2021-08-19 19:28] nu11ptr opened #261 "Add OHLC Chart"
Please consider adding OHLC chart (with optional volume plotted underneath on different y axis)

https://en.wikipedia.org/wiki/Open-high-low-close_chart

[2021-08-19 19:29] eselmeister commented on #260
Great, probably we can encourage some Google Summer of Code students to create an implementation next year. If we've not done it ourselves before.

[2021-08-19 19:29] nu11ptr opened #262 "Add Candlestick Chart"
Please consider adding a candlestick chart (with optional volume plotted underneath on different y axis)

https://en.wikipedia.org/wiki/Candlestick_chart

[2021-08-31 13:07] Mailaender opened #263 "Mappings aren't cleared when the series is deleted"
This causes problems like https://github.com/eclipse/chemclipse/issues/728 when the labels don't update.

[2021-09-07 15:39] Mailaender commented on #263
It is a feature, not a bug.

[2021-09-07 15:39] #263 closed, assigned to nobody

[2021-09-07 16:26] Mailaender opened #265 "Mapping have to be modified from the outside"
The mapping feature is a bit unintuitive. It maps settings and stores them for later reuse, even after the panel has been destroyed. Developers and users are forced to use this (anti-)feature as there is no way to turn it off without breaking it. Every SWT Chart UI action will internally  update the mappings:

https://github.com/eclipse/swtchart/blob/a6dda0bbfa38934a5a9c6324bcf94bc24687fbd9/org.ec

[2021-09-09 11:13] #265 closed, assigned to nobody

[2021-10-09 06:09] buchen opened #269 "Wrong link to 0.13 release in project metadata"
The [download section](https://projects.eclipse.org/projects/science.swtchart/downloads) in the project meta data *reads* 0.13.0 but in fact points to 0.12.0.

<img width="511" alt="Bildschirmfoto 2021-10-09 um 08 08 11" src="https://user-images.githubusercontent.com/587976/136646327-b91e15ff-3ded-4104-900c-3704a34bcd59.png">

[2021-10-10 09:06] eselmeister commented on #269
Thanks for the hint. It has been fixed.

[2021-10-10 09:06] #269 closed, assigned to nobody

[2021-10-20 19:45] eselmeister opened #271 "Bitmap Export - customer specific export size"
Enable to set a customer specific export size.

[2021-10-20 19:46] #271 closed, assigned to nobody

[2021-10-20 19:48] eselmeister commented on #271
![Bildschirmfoto von 2021-10-20 21-42-02](https://user-images.githubusercontent.com/686671/138161619-ac9c552f-08ae-47e2-a0a5-e3cd560e0574.png)

![Bildschirmfoto von 2021-10-20 21-42-26](https://user-images.githubusercontent.com/686671/138161631-c2f8c66c-690b-4b0e-9714-a1f123bc5a34.png)

![Bildschirmfoto von 2021-10-20 21-42-49](https://user-images.githubusercontent.com/686671/138161640-9eef3763-82

[2021-10-21 04:48] eselmeister opened #272 "Scrollable Chart - menu entry set chart range"
Add a chart menu entry to set a specific X/Y range.

[2021-10-21 04:50] #272 closed, assigned to nobody

[2021-10-21 04:50] eselmeister commented on #272
![Bildschirmfoto von 2021-10-21 06-46-38](https://user-images.githubusercontent.com/686671/138213460-67ff4db1-988b-4c1e-8d76-9d4883e75741.png)

![Bildschirmfoto von 2021-10-21 06-47-05](https://user-images.githubusercontent.com/686671/138213474-aeecbecb-98e4-4420-ae34-1e1434fa5ba9.png)

![Bildschirmfoto von 2021-10-21 06-47-10](https://user-images.githubusercontent.com/686671/138213483-2c35ccc8-33

[2021-11-17 22:15] MatthewKhouzam opened #274 "Make Axis Line optional"
I am exploring for trace compass different ways to make the data easier to read

Here is an example chart with a pair of custom charts. A style that is becoming more popular now is a minimalist chart where the Y axis bar is invisible.
Example with Y Axis line:
![image](https://user-images.githubusercontent.com/419535/142291501-baf77d14-ff83-4652-a9c1-a5ccfbfce474.png)
And without
![image](https://

[2021-11-18 10:25] Mailaender opened #275 "Legend does not match inverted axis"
![image](https://user-images.githubusercontent.com/756669/142397881-854f5f7b-e173-4dee-b297-ddfa0cb4a6d2.png)

[2021-11-18 10:44] #166 closed, assigned to nobody

[2021-11-19 05:36] eselmeister commented on #274
@MatthewKhouzam Am I right, you would like to disable drawing the black line of the Axis?

![Bildschirmfoto von 2021-11-19 06-33-27](https://user-images.githubusercontent.com/686671/142570852-40d61966-bbbd-4010-8f25-2a77758efc9b.png)

[2021-11-19 05:39] eselmeister commented on #275
@Mailaender Yep, confirmed. That needs to be fixed. The axis settings may be checked to `isReversed()` to calculate the correct value.

[2021-11-19 12:26] #275 closed, assigned to nobody

[2021-11-19 14:16] MatthewKhouzam commented on #274
@eselmeister As usual, you are correct. It's trivial to do in the code, the API is the tricky part.

[2021-11-19 15:29] eselmeister commented on #274
@MatthewKhouzam Let me inspect it. I'm pretty confident that extending the `IChartSettings` by an extra option will do the trick.

[2021-11-21 08:44] eselmeister commented on #274
I found a solution. The code will be merged today.

[2021-11-21 10:08] #274 closed, assigned to eselmeister

[2021-11-21 10:13] eselmeister commented on #274
@MatthewKhouzam Done :-)

The axis lines can be now activated/deactivated for each axis separately via the method `setDrawAxisLine(...)`, e.g.:

[code]

Have a look at the demo chart examples:
`org.eclipse.swtchart.extensions.examples.charts.DemoChart`

![Bildschirmfoto von 2021-11-21 11-01-14](https://user-images.githubusercontent.com/686671/142757891-c717b978-71ec-4ae5-a340-321500fc9700.png)

![

[2021-11-29 07:27] eselmeister opened #278 "Support for dynamic axis position marker"
Especially when selecting data, it would be great to highlight the currently selected position at the X/Y axis.

[2021-11-29 07:35] eselmeister commented on #278
The position markers are disabled by default. One can activate the position marker either directly

`axisSettings.setDrawPositionMarker(true);`

or via the axis settings:

[code]

![Bildschirmfoto von 2021-11-29 08-24-28](https://user-images.githubusercontent.com/686671/143826278-c9ec5ced-53e7-4670-bdc4-e0c92c4ee5ec.png)

A remaining issue is, that the scale on the Y axis has a slight offset. This

[2021-11-29 13:11] #278 closed, assigned to eselmeister

[2021-11-29 13:13] eselmeister commented on #278
![Bildschirmfoto von 2021-11-29 14-07-38](https://user-images.githubusercontent.com/686671/143874394-e3846efb-670c-45c9-b610-5e48f96cb40c.png)

[2022-01-11 08:56] hadiahmadi277 opened #279 "How can I add zoom and Scroll in swtchart in Java?"
I used the zoom and scroll chart codes based on the description of the following swtchart document, but it does not work. Is there a solution?

[code]

[2022-01-11 10:08] eselmeister commented on #279
With `chart.getAxisSet().adjustRange();` the chart is set to its full x and y range. A good way to explore and play is the demo chart:
`https://github.com/eclipse/swtchart/blob/develop/org.eclipse.swtchart.extensions.examples/src/org/eclipse/swtchart/extensions/examples/charts/DemoChart.java`

[2022-01-11 11:51] hadiahmadi277 commented on #279
Thanks, but some of the parts are not imported when I want to use the above code.
Thank you for your help.
[
![1](https://user-images.githubusercontent.com/76564909/148937591-722c24f3-ce42-4f14-82f6-bf8b5e7119d5.PNG)](url)
![1](https://user-images.githubusercontent.com/76564909/148937775-eb6105fb-e64a-4cf1-8991-eb5cdf663cd0.PNG)

[2022-01-11 11:57] eselmeister commented on #279
Please pull the complete repository and import all projects into your workspace. Have a look at the bundle architecture of SWTChart:
[https://github.com/eclipse/swtchart/wiki](https://github.com/eclipse/swtchart/wiki)

[2022-01-11 13:58] hadiahmadi277 commented on #279
I receive and importe all the projects into the workspace, but the DemoChart.java gives such an error.

The following ChartType has been set using the auto-detection: LINE
Exception in thread "main" java.lang.Error: Unresolved compilation problem:

	at org.eclipse.swtchart.extensions.core.ResourceSupport.getImage(ResourceSupport.java:182)
	at org.eclipse.swtchart.extensions.core.RangeSelector.crea

[2022-01-11 14:01] eselmeister commented on #279
Did you set the "Target Platform" correctly?

[2022-01-11 15:15] hadiahmadi277 commented on #279
I do not understand what you mean. According to the instructions in this [link](https://www.codejava.net/ides/eclipse/import-existing-projects-into-eclipse-workspace), I put all the repositories in the workspace.

[2022-01-11 15:18] eselmeister commented on #279
The "Target Platform" contains all necessary dependencies to run the dev environment. You have to load it in Eclipse:
`https://github.com/eclipse/swtchart/blob/develop/org.eclipse.swtchart.targetplatform/org.eclipse.swtchart.targetplatform.target`

[2022-01-11 15:53] hadiahmadi277 commented on #279
Excuse me. I have not loaded the target platform yet. How can I use this code? Thank you

[2022-01-11 17:23] eselmeister commented on #279
If you're using Eclipse, then read:
[https://www.vogella.com/tutorials/EclipseTargetPlatform/article.html](https://www.vogella.com/tutorials/EclipseTargetPlatform/article.html)

Otherwise, fetch the dependencies via Maven.

[2022-01-11 19:31] hadiahmadi277 commented on #279
Thank you very much the problem was solved.

[2022-01-11 19:38] hadiahmadi277 commented on #279
Is there an example that has pan capability?

[2022-01-11 20:22] hadiahmadi277 commented on #279
And I did not see the zoom out feature in the demos

[2022-01-12 06:18] eselmeister commented on #279
Have a look at the zoom out handler:
`public class ZoomOutHandler extends AbstractChartMenuEntry implements IChartMenuEntry {`

And I'm not sure what you mean with "pan capability"?

[2022-01-12 06:37] hadiahmadi277 commented on #279
Pan means navigating the chart after zooming.

[2022-01-12 07:25] eselmeister commented on #279
You can use the scrollbars, or the mouse scroll button. Have a look at the constraints to restrict scrolling either to only x or y. Both is activated by default:

`https://github.com/eclipse/swtchart/blob/develop/org.eclipse.swtchart.extensions/src/org/eclipse/swtchart/extensions/core/RangeRestriction.java`

[2022-01-12 14:26] #279 closed, assigned to nobody

[2022-01-21 05:26] #64 closed, assigned to nobody

[2022-01-21 08:34] Mailaender commented on #64
See https://wiki.eclipse.org/Platform-releng/Publish_To_Maven_Central

[2022-02-06 06:16] eselmeister opened #280 "Remove "org.eclipse.ui.workbench" dependency"
The dependency "org.eclipse.ui.workbench" is currently used in the extension bundle to create the ScopedPreferenceStore and the Eclipse Workbench preference page. This is not necessarily needed.

[2022-02-06 06:18] #280 closed, assigned to nobody

[2022-03-08 09:37] #253 closed, assigned to nobody

[2022-03-08 16:26] eselmeister opened #282 "Make 'org.eclipse.swtchart.export.extended' package optional"
The package contains code to directly transfer an SWTChart image into a SVG file. The downside of this approach is, that the following dependencies are required:

- org.apache.batik.svggen
- org.apache.batik.ext.awt
- org.apache.batik.dom
- org.apache.batik.util
- org.apache.batik.constants
- org.apache.batik.css
- org.apache.batik.i18n

To make it easier to simply consume SWTChart, the export ext

[2022-03-08 16:30] #282 closed, assigned to nobody

[2022-03-09 10:02] harmanea opened #283 "Y-Axis both on left AND right?"
Is there a way to display the y-axis for a line chart synchronously both on the left and the right sides?

If not, would it be possible to add this option, e.g. something like `Position.BOTH`?

[2022-03-09 10:06] eselmeister commented on #283
Setting the `Position.BOTH` is not possible. But you can simply add a secondary axis with a pass through value converter. Have a look here:
[SecondaryAxisChart.java](https://github.com/eclipse/swtchart/blob/develop/org.eclipse.swtchart.extensions.examples/src/org/eclipse/swtchart/extensions/examples/charts/SecondaryAxisChart.java)

[2022-03-09 11:13] harmanea commented on #283
Thanks for the quick reply!

What do you mean by _pass through value converter_. I don't see it applied anywhere in the example.

[2022-03-09 13:39] eselmeister commented on #283
In case of the example, a byte to kibibyte converter is used as the basic Y axis is given as byte:

[code]

If you'd like to mirror the axis,  just define a converter that returns the original value, so no multiplication/division is needed here.

[2022-03-10 10:32] #283 closed, assigned to nobody

[2022-03-11 18:04] eselmeister opened #286 "Improve Pie- and Doughnut Chart Labels and Layout"
Have a look at the examples:

https://github.com/buchen/portfolio/pull/2597
https://gist.github.com/digedag/a708844ba36927aa9f74e831b78a6f4c

[2022-03-14 12:46] eselmeister opened #287 "Update to Tycho 2.7.0"
Please note, the Tycho 2.7.0 *.m2 repository is incompatible with older Tycho versions:

https://github.com/eclipse/tycho/blob/master/RELEASE_NOTES.md
https://github.com/eclipse/tycho/issues/725

[2022-03-14 12:53] #287 closed, assigned to nobody

[2022-03-14 17:29] himanshu-balasamanta commented on #286
- centering the chart
- aligning and shorten the labels
- enable an export option to *.csv like in bar-, line- and scatter plots
Anything else?

[2022-03-15 06:48] eselmeister commented on #286
The `ComplexPieChartExample` is a good test case to improve the above mentioned issues.

![Screenshot from 2022-03-15 07-46-18](https://user-images.githubusercontent.com/686671/158322168-2d81934c-1c3a-48f8-8dc5-dbd4e20a63f4.png)

Let's discuss and coordinate the activities. Please let me know if you need help.

[2022-03-15 09:51] yashTEF commented on #174
A possible way forward to solve this could be to change values of the hard coded coordinates using
the XML (SVG) Document Object Model and set the coordinates accordingly.

[2022-03-15 12:27] eselmeister commented on #174
Yep, that could be a solution. In such a case, at least the following dependency is needed:
`org.w3c.dom.events`

The export via an SVG template is designed in a very simple way, so that no external dependencies are required. The contained templates in `org.eclipse.swtchart.export` could be extended by a Pie-, Doughnut-Chart version.

Due to the Batik dependencies, the enhanced SVG export has been

[2022-03-17 15:38] eselmeister commented on #252
We use Tycho 2.7.0 now and Java 11. SWTChart works fine with GTK3 on Ubuntu 2021.10 with X11 and Wayland. For compatibility reasons with others projects, let's stay a while on Java 11.

[2022-03-17 15:38] #252 closed, assigned to nobody

[2022-03-18 05:27] eselmeister opened #288 "Update to Eclipse version 4.23"
Eclipse version 4.23
https://download.eclipse.org/eclipse/downloads/drops4/R-4.23-202203080310/

[2022-03-18 05:30] #288 closed, assigned to nobody

[2022-04-29 17:46] himanshu-balasamanta commented on #286
Hi. Here by centring the chart, you mean something like this?
As in no legend but only data is displayed on hover?
![image](https://user-images.githubusercontent.com/44469499/165996279-f9506ac1-b990-4c2f-922c-22f6e01d0cdf.png)

[2022-04-29 17:50] himanshu-balasamanta commented on #286
And as about displaying data on pie slices, what if we run into the problem faced below?
![image](https://user-images.githubusercontent.com/44469499/165996680-38c1f50d-05ae-4b7f-9d2e-39eeaedf07ce.png)

[2022-04-29 18:00] himanshu-balasamanta commented on #286
I mean, even if I do orient the text to be in accordance with pie slice, it can still become cluttered right?

[2022-04-29 18:34] himanshu-balasamanta commented on #286
Does Something like this seem a good solution to centring the chart? ie. only show values on hover.
![image](https://user-images.githubusercontent.com/44469499/166004614-7246b8bd-36cd-448e-8998-959166187afd.png)

[2022-04-29 18:51] himanshu-balasamanta commented on #286
As about orienting the data aligned with pie slices, not a problem, can be done like [this](http://www.java2s.com/Tutorial/Java/0300__SWT-2D-Graphics/Rotateby45degrees.htm)

[2022-05-02 04:29] eselmeister commented on #286
The following example looks good:

https://github.com/buchen/portfolio/pull/2597
https://user-images.githubusercontent.com/1877409/152893547-a2b5900c-ddc5-42e3-a207-4ebe44e95ea2.png

@Himanshu-Balasamanta Do you think, it's possible to get something similar as above?

[2022-05-02 04:44] himanshu-balasamanta commented on #286
It most certainly is. I will get on to working on it.

[2022-05-02 05:00] eselmeister commented on #286
Great! Let me know if you need any assistance.

[2022-05-05 06:09] eselmeister opened #289 "Fix dispose problems"
[code]

[2022-05-05 06:10] #289 closed, assigned to nobody

[2022-07-09 06:19] eselmeister opened #291 "SWTChart Extensions (Log Scale Base) Settings"
Add the log scale base settings option to the extensions. See change in SWTChart Base:
https://github.com/eclipse/swtchart/pull/290

[2022-07-09 06:27] #291 closed, assigned to nobody

[2022-07-21 11:16] akurtakov opened #293 "Content of https://download.eclipse.org/swtchart/integration/REL-0.13.0/repository not signed"
Linux Tools uses this repository to build against and contribute to simrel but it was found that content there is no longer signed.

[2022-07-21 11:18] akurtakov commented on #293
It seems to be caused by https://github.com/eclipse/swtchart/commit/715a493ea5bc0ce32eba758c980b9b44bc7e9c9d

[2022-08-04 13:38] akurtakov commented on #293
Is this one still needed?

[2022-08-05 05:23] eselmeister commented on #293
We have reactivated the signing process. So the ticket can be closed.

[2022-08-05 05:23] #293 closed, assigned to nobody

[2022-09-12 10:42] eselmeister opened #302 "Label Marker - add an option to display the description"
Currently, the id is displayed by default.

[2022-09-12 10:46] #302 closed, assigned to nobody

[2022-09-28 06:40] navykoo opened #303 "Box plot support"
Hey, I wanted to check if there is any plan of swtchart to support box plot (or called as box and wirsk plot)? If no, can I do some customization development on swtchart for achieve the goal? Any advice will be appreciated.

[2022-09-30 10:29] eselmeister commented on #303
@navykoo Thanks for your request. Could you support some sketches, screenshots of the plots you'd like to have? SWTChart is an open source project. I could also show you how to setup the IDE to make improvements on the library. Help is always appreciated.

[2022-10-04 11:51] eselmeister opened #304 "Clipboard - support for image and text data"
Add support copy and paste images as well as the data via the clipboard.

`CRTL + c` (Image to Clipboard)
`CTRL + SHIFT + c` (Text to Clipboard)

[2022-10-04 11:56] #304 closed, assigned to nobody

[2022-10-04 11:58] eselmeister commented on #304
Note: the ImageSupplier has been moved to the extensions package.

[2022-10-04 11:59] eselmeister commented on #304
![image](https://user-images.githubusercontent.com/686671/193813918-092a6db3-dda4-4a1c-aab0-a3783413e7da.png)

[2022-10-04 11:59] eselmeister commented on #304
or via the menu

![image](https://user-images.githubusercontent.com/686671/193813998-277ac316-8b10-4911-8b50-196876058976.png)

[2022-10-04 12:05] eselmeister commented on #304
`CTRL + SHIFT + c` (Text to Clipboard)

[code]

[2022-10-04 12:19] eselmeister commented on #304
`CRTL + c` (Image to Clipboard)

![image](https://user-images.githubusercontent.com/686671/193817365-cc2ceae3-b4ce-459e-8000-9e0a92e61be6.png)

[2022-10-20 14:18] eselmeister opened #305 "Buffered Selection - remove label experimental"
The buffered selection seems to work also under macOS now. Probably, due to the update to a newer Java version.

[2022-10-20 14:19] #305 closed, assigned to nobody

[2022-11-04 12:42] jackybian commented on #303
@eselmeister Hi, I am navykoo's colleague. I'm looking for such feature support as well. Here are some websits about BoxPlot.
1,https://en.wikipedia.org/wiki/Box_plot
2,https://echarts.apache.org/examples/en/editor.html?c=boxplot-light-velocity
Any suggestion will be appreciated.

[2022-11-06 09:01] eselmeister commented on #303
@jackybian Great, I could guide you how to setup SWTChart and how to implement the Box plot support.

[2022-11-06 09:02] eselmeister commented on #303
Just let me know, if and when I shall give you assistance.

[2022-11-07 00:40] jackybian commented on #303
Thank you very much. I'm a J2EE developer and I am not familiar with Swtchart and RCP.But i can try.
Can you tell me how to do.
My eclipse version is Eclipse IDE for RCP and RAP Developers - 2022-06.

[2022-11-07 08:24] eselmeister commented on #303
@jackybian Here's a short description how to setup the system:
https://github.com/eclipse/swtchart/blob/develop/org.eclipse.swtchart.cbi/Build.txt

The simplest way to have a look if everything runs fine is to start the following chart as Java application:
https://github.com/eclipse/swtchart/blob/develop/org.eclipse.swtchart.extensions.examples/src/org/eclipse/swtchart/extensions/examples/charts/D

[2022-11-07 14:25] jackybian commented on #303
Thank you.
Due to unfamiliarity with Eclipse and RCPTT, I can't run the demo.
Can you tell how to run it with RCPTT

[2022-11-07 15:19] eselmeister commented on #303
You don't need RCPTT. You can run it directly from within the Eclipse
IDE, when you select "Run as Java application...".

On 07.11.22 15:26, jackybian wrote:

--
[code]

[2022-11-08 02:04] jackybian commented on #303
Thank you. I followed your steps and encountered a problem.
As shown in the screenshot, I can't set Build Path and don't know the reason.
![pic](https://user-images.githubusercontent.com/11855467/200456512-994500de-8b68-4158-8111-943f976ad9c8.jpg)

[2022-11-08 04:48] eselmeister commented on #303
You don't need to set the build path. Open the following target platform
in the editor and "Set as Active Target Platform":
org.eclipse.swtchart.targetplatform/org.eclipse.swtchart.targetplatform.target

On 08.11.22 03:04, jackybian wrote:

--
[code]

[2022-11-08 06:10] jackybian commented on #303
Thank you.
I run the demo in another project which imports swtchar jars. But i did not know how to run the demo in Swtchar Project. I've already  set target platform as  Active Target Platform.
Can you tell me how to prepare to implement the Box plot. I need some preparation.

[2022-11-08 06:12] eselmeister commented on #303
Are you able to run the demo chart from within your IDE?

On 08.11.22 07:10, jackybian wrote:

--
[code]

[2022-11-08 06:29] jackybian commented on #303
![%X0_85H9)}}Y)} G)0`9IVD](https://user-images.githubusercontent.com/11855467/200491154-998ca807-5fe3-4e2d-87fa-35021d7bc9d5.png)
I build a new project and import 2 swtchart jars.

[2022-11-08 07:26] eselmeister commented on #303
@jackybian Please first setup the IDE as mentioned in the build instruction. You need "Eclipse IDE for RCP and RAP Developers" and then run the demo chart as a Java application.

![Screenshot from 2022-11-08 08-24-40](https://user-images.githubusercontent.com/686671/200500724-33bf9fba-be14-433b-b64d-741d1a7af4b4.png)

[2022-11-08 08:21] jackybian commented on #303
![pic](https://user-images.githubusercontent.com/11855467/200510582-e4556529-452c-41e6-a519-32e75b6fbe67.png)
Thank you for your picture. I finished. I took Eclipse as an Idea IDE and selected wrong root directory.

[2022-11-08 12:33] jackybian commented on #303
@eselmeister Can you give me some suggestions about implementing Box Plot feature

[2022-11-08 13:45] eselmeister commented on #303
@jackybian Sure, do you have representative data (x,y) at hand, which we could use to implement the box plot support?

[2022-11-09 06:50] jackybian commented on #303
data X {trace0, trace1}
data Y {{741.5,752.1,741.4,729.1,767.1,766.1,756.3,745.4,735.6,741,754.2,758.6,753.9,742.6,729.6,723.3,724.6,748.5,754.2,749.2,734,727.6,718.1,729.2,766.5,772.5,765.5,766.5,772.5,765.5 },{743.6,753.9,745.1,731.6,768.2,767.3,758.7,746.6,737.9,743.6,756.6,760.3,755.2,743.6,731.9,725.5,727.4,751.8,756.2,752.8,737.8,731.2,724.9,732.4,770.7,775.7,767.3,745.4,
![PIC](https://user

[2022-11-09 12:39] eselmeister commented on #303
@jackybian Great, thanks. Give me 2 days to think about it. I'll then guide you how to best implement it.

[2022-11-09 12:51] jackybian commented on #303
Thank you and wait for your good news.

[2022-11-11 11:09] eselmeister commented on #303
@jackybian IMHO, we can implement it by extending the ScatterChart:
`org.eclipse.swtchart.extensions.scattercharts.ScatterChart`

The functionality of the scatter chart is used and additionally, a `IBaseChartPaintListener` is added to draw the boxes based on the live calculated statistics. Let me prepare it for your later today.

[2022-11-12 13:23] jackybian commented on #303
@eselmeister Thank you. I've had a lot of high-priority work to do in the last few days. After the work is done, I will try to implement it.

[2022-11-12 20:13] eselmeister commented on #303
@jackybian Yep, no hurry. I have create a demo chart, which easily can be executed as a Java application:
`org.eclipse.swtchart.extensions.examples.charts.DemoBoxPlotChart`

![Screenshot from 2022-11-12 20-56-54](https://user-images.githubusercontent.com/686671/201492794-b3fbe471-b34b-44ec-a2a0-9537a7bf6432.png)

The magic needs to implemented here:
`org.eclipse.swtchart.extensions.marker.BoxPlotM

[2022-11-14 14:43] jackybian commented on #303
![1668436889280](https://user-images.githubusercontent.com/11855467/201688414-be7bbe67-cb7d-4961-afe6-c6d9f6afdfdc.png)
I pull the  source code and run the DemoBoxPlotChart. The console show the message as shown in the picture.

[2022-11-14 14:53] eselmeister commented on #303
Could you please have a look at your workspace and check that the file `BoxPlotSeries1` is available.
https://github.com/eclipse/swtchart/commit/209d9925089f440d3be965060cedfab431299f56#diff-9d1fad6b59d9ad8317eb3ac603d3d9a20465abf92550afec302714c3452b2281

[2022-11-14 14:59] jackybian commented on #303
![1668437853492](https://user-images.githubusercontent.com/11855467/201692168-086ff460-184b-4bc4-ab45-d3b3d3e7516d.png)
I can see the scatter, but the FileNotFoundException is still there

[2022-11-14 15:36] eselmeister commented on #303
You can ignore the `FileNotFoundException`. It's from the preference store, which is used by the legend.
Have a look at the `BoxPlotMarker` to implement drawing the statistical values:
https://github.com/eclipse/swtchart/blob/develop/org.eclipse.swtchart.extensions/src/org/eclipse/swtchart/extensions/marker/BoxPlotMarker.java

[2022-11-19 06:18] jackybian commented on #303
![image](https://user-images.githubusercontent.com/11855467/202837331-0a821661-214b-493e-b419-d5b2cfc82321.png)
@eselmeister  I didn't use the error bar.  The pic doesn't  looks good.
Can I modify X axis from number to string.

[2022-11-21 05:36] eselmeister commented on #303
@jackybian Your custom paint listener boxes look good. I assume you'd like to have something similar like displayed in category, am I right?

https://github.com/eclipse/swtchart/wiki/Documentation#category

[2022-11-21 12:20] jackybian commented on #303
IPrimaryAxisSettings primaryAxisSettingsX = chartSettings.getPrimaryAxisSettingsX();
		primaryAxisSettingsX.setVisible(true);
		primaryAxisSettingsX.setGridLineStyle(LineStyle.NONE);
		Axis xAxis = (Axis)baseChart.getAxisSet().getXAxis(BaseChart.ID_PRIMARY_X_AXIS);
	        xAxis.enableCategory(true);
		xAxis.setCategorySeries(new String[]{"Trace1", "Trace2"});
![image](https://user-images.githubu

[2022-11-21 13:03] eselmeister commented on #303
It's moving into the right direction. There seems to be something going wrong when plotting the blue and red data points. I would recommend to debug the plotting of the data series.

[2022-11-21 15:58] jackybian commented on #303
The data series didn't change when I debugged.
In addition to this , I hope I can  zoom in one box(Trace2) and the X-Axis can only show Trace2

[2022-11-21 20:42] eselmeister commented on #303
If you're getting any further, please create a pull request, so that I can review your code. Have you signed the Eclipse Contributors Agreement already?

https://github.com/eclipse/swtchart/blob/develop/CONTRIBUTING.md

[2022-11-22 13:27] jackybian commented on #303
Ok, The quartile  function is not accurate. If the category can show accurately， I will restructure the code and try to push the code to SWTChart Project.
[BoxPlotMarker.zip](https://github.com/eclipse/swtchart/files/10067681/BoxPlotMarker.zip)

Axis xAxis = (Axis)baseChart.getAxisSet().getXAxis(BaseChart.ID_PRIMARY_X_AXIS);
xAxis.enableCategory(true);
xAxis.setCategorySeries(new String[]{"Trace 1

[2022-11-22 14:29] eselmeister commented on #303
I would recommend to use the `IPrimaryAxisSettings` to modify the category etc.. When running `applySettings(...)`, the settings are transferred to the SWTChart base chart.

We have a documentation here:
https://github.com/eclipse/swtchart/wiki/Documentation

Otherwise, I'll guide you.

[2022-11-23 01:24] jackybian commented on #303
![1](https://user-images.githubusercontent.com/11855467/203452429-1a857c43-8553-432b-b48a-f33179fc2521.png)
![2](https://user-images.githubusercontent.com/11855467/203452442-2ca8f007-e664-4065-80f6-3e00936fb918.png)
I use the IPrimaryAxisSettings to modify the category when running applySettings.
But It does not work.

[2022-11-23 11:36] eselmeister commented on #303
OK, let me inspect it. Can you create a PR?

[2022-11-23 12:16] jackybian commented on #303
PR? PropertiesResources?

[2022-11-23 12:26] eselmeister commented on #303
Pull Request :-)

[2022-11-23 13:54] jackybian commented on #303
I've already signed ECA.
Now I can't create a PR and the GitHub UI shows that I don't have write access to Eclipse/Swtchart.

[2022-11-23 14:01] eselmeister commented on #303
Yep, it's only allowed for committers to write into the repository. Hence, we use PRs to merge/review request from externals. Have a look at the GitHub documentation on how to create a PR:

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2022-11-23 15:20] jackybian commented on #303
![image](https://user-images.githubusercontent.com/11855467/203583185-c76bdd89-0079-404d-a249-cb4f361d4ed7.png)

[2022-11-23 15:55] eselmeister commented on #303
It seems to be in your fork. I can't see any PRs here:
https://github.com/eclipse/swtchart/pulls

[2022-11-24 12:58] jackybian commented on #303
![2N(7M_B`6YJ W`9LC)@OM M](https://user-images.githubusercontent.com/11855467/203790083-f283049f-4f90-4ec7-a3e9-b879cffa34f9.png)
Is that right？

[2022-11-25 07:44] eselmeister commented on #303
Thanks for the PR. I tracked down the problem. The category series are currently displayed well with bar charts:
https://github.com/eclipse/swtchart/wiki/Documentation#category

With scatter data, it doesn't plot the data correctly. Let me find a solution for that problem.

![Screenshot from 2022-11-25 08-41-11](https://user-images.githubusercontent.com/686671/203927652-9a80914c-3526-43fe-8e99-6f7

[2022-11-27 09:14] eselmeister opened #307 "Make getPixelCoordinate(...) a public method"
It's not listed in the `IAxis` interface yet, hence using it could cause a `Discouraged access` warning.
`The method 'Axis.getPixelCoordinate(double, double, double)' is not API (restriction on required project 'org.eclipse.swtchart').`

[2022-11-27 09:15] #307 closed, assigned to nobody

[2022-11-27 12:55] jackybian commented on #307
I pulled the latest changes from develop branch and created a new PR which contained my changes about  box plot.

[2022-11-27 12:55] jackybian commented on #307
https://github.com/eclipse/swtchart/pull/308

[2022-11-29 05:24] eselmeister opened #309 "Chart Options - static final"
The chart options can be flagged as `static final` instead of just `static`.

[2022-11-29 05:24] #309 closed, assigned to nobody